body { font-family: [font-family-body]; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: [font-family-headings]; }

.content-area blockquote:before, .widget-area blockquote:before { font-family: [font-family-headings]; }

.wc-social-login:before { font-family: [font-family-headings]; }

.blog article.post .entry-title .label-sticky, .blog article.page .entry-title .label-sticky, .blog article.lsx-slot .entry-title .label-sticky, .archive article.post .entry-title .label-sticky, .archive article.page .entry-title .label-sticky, .archive article.lsx-slot .entry-title .label-sticky, .search-results article.post .entry-title .label-sticky, .search-results article.page .entry-title .label-sticky, .search-results article.lsx-slot .entry-title .label-sticky { font-family: [font-family-body]; }

#respond .comment-reply-title > small { font-family: [font-family-body]; }

#comments .media-list .media .media-heading { font-family: [font-family-body]; }

/*# sourceMappingURL=maps/lsx-fonts.css.map */
