.sensei-ordering select, .sensei form .form-row input.input-text, .sensei form .form-row textarea, #my-courses form#loginform input[type="text"], #my-courses form#loginform input[type="password"] { border-width: 2px; box-shadow: none; font-size: 18px; line-height: 1.33; padding: 10px 20px; transition: all 150ms ease; }

.sensei-ordering select:focus, .sensei form .form-row input.input-text:focus, .sensei form .form-row textarea:focus, #my-courses form#loginform input[type="text"]:focus, #my-courses form#loginform input[type="password"]:focus { box-shadow: none; }

.sensei-ordering select, .sensei form .form-row input.input-text, .sensei form .form-row textarea, #my-courses form#loginform input[type="text"], #my-courses form#loginform input[type="password"] { display: block; width: 100%; height: 50px; color: #4a4a4a; background-color: #fff; background-image: none; border: 1px solid #DDD; border-radius: 2px; border-width: 2px; box-shadow: none; font-size: 18px; line-height: 1.33; padding: 10px 20px; transition: all 150ms ease; }

.sensei-ordering select:focus, .sensei form .form-row input.input-text:focus, .sensei form .form-row textarea:focus, #my-courses form#loginform input[type="text"]:focus, #my-courses form#loginform input[type="password"]:focus { border-color: #418AD0; }

.sensei form .form-row input.input-text, #my-courses form#loginform input[type="text"], #my-courses form#loginform input[type="password"] { height: 42px; padding: 10px 12px; }

.sensei-ordering select { height: 42px; padding: 0 12px; }

.sensei .fix:after, .lesson-content .entry:after { clear: both; content: ''; display: table; }

.page-template-default:not(.has-sidebar).sensei article.page { width: 100% !important; }

.archive:not(.has-sidebar).sensei .site-main { width: 100% !important; }

.sensei article.post + article.post { margin-top: 4.25rem; }

.sensei .post-entries { margin-top: 4.25rem; }

.sensei .thumbnail { border: 0; border-radius: 0; padding: 0; }

.sensei-share-your-grade.message { margin-top: 4.25rem; }

.sensei-share-your-grade.buttons { padding-left: 0; }

#main .course:last-child, #main .course-container:last-child { border-bottom: 0; margin-bottom: 0; padding-bottom: 0; }

.sensei form .form-row textarea { height: 80px; }

.course-container a.button, .course-container a.button:active, .course-container a.button:visited, .course-container a.comment-reply-link, .course-container a.comment-reply-link:active, .course-container a.comment-reply-link:visited, .course-container #commentform #submit, .course-container #commentform #submit:active, .course-container #commentform #submit:visited, .course-container .submit, .course-container .submit:active, .course-container .submit:visited, .course-container input[type=submit], .course-container input[type=submit]:active, .course-container input[type=submit]:visited, .course-container input.button, .course-container input.button:active, .course-container input.button:visited, .course-container button.button, .course-container button.button:active, .course-container button.button:visited, .course a.button, .course a.button:active, .course a.button:visited, .course a.comment-reply-link, .course a.comment-reply-link:active, .course a.comment-reply-link:visited, .course #commentform #submit, .course #commentform #submit:active, .course #commentform #submit:visited, .course .submit, .course .submit:active, .course .submit:visited, .course input[type=submit], .course input[type=submit]:active, .course input[type=submit]:visited, .course input.button, .course input.button:active, .course input.button:visited, .course button.button, .course button.button:active, .course button.button:visited, .lesson a.button, .lesson a.button:active, .lesson a.button:visited, .lesson a.comment-reply-link, .lesson a.comment-reply-link:active, .lesson a.comment-reply-link:visited, .lesson #commentform #submit, .lesson #commentform #submit:active, .lesson #commentform #submit:visited, .lesson .submit, .lesson .submit:active, .lesson .submit:visited, .lesson input[type=submit], .lesson input[type=submit]:active, .lesson input[type=submit]:visited, .lesson input.button, .lesson input.button:active, .lesson input.button:visited, .lesson button.button, .lesson button.button:active, .lesson button.button:visited, .quiz a.button, .quiz a.button:active, .quiz a.button:visited, .quiz a.comment-reply-link, .quiz a.comment-reply-link:active, .quiz a.comment-reply-link:visited, .quiz #commentform #submit, .quiz #commentform #submit:active, .quiz #commentform #submit:visited, .quiz .submit, .quiz .submit:active, .quiz .submit:visited, .quiz input[type=submit], .quiz input[type=submit]:active, .quiz input[type=submit]:visited, .quiz input.button, .quiz input.button:active, .quiz input.button:visited, .quiz button.button, .quiz button.button:active, .quiz button.button:visited { border: 0 none; border-radius: 3px; display: inline-block; font-size: 14px; font-weight: 700; height: 48px; left: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; transition: all 100ms ease; }

.course-container a.button > .fa, .course-container a.comment-reply-link > .fa, .course-container #commentform #submit > .fa, .course-container .submit > .fa, .course-container input[type=submit] > .fa, .course-container input.button > .fa, .course-container button.button > .fa, .course a.button > .fa, .course a.comment-reply-link > .fa, .course #commentform #submit > .fa, .course .submit > .fa, .course input[type=submit] > .fa, .course input.button > .fa, .course button.button > .fa, .lesson a.button > .fa, .lesson a.comment-reply-link > .fa, .lesson #commentform #submit > .fa, .lesson .submit > .fa, .lesson input[type=submit] > .fa, .lesson input.button > .fa, .lesson button.button > .fa, .quiz a.button > .fa, .quiz a.comment-reply-link > .fa, .quiz #commentform #submit > .fa, .quiz .submit > .fa, .quiz input[type=submit] > .fa, .quiz input.button > .fa, .quiz button.button > .fa { margin-left: 10px; }

.course-container a.button, .course-container a.button:active, .course-container a.button:visited, .course-container a.comment-reply-link, .course-container a.comment-reply-link:active, .course-container a.comment-reply-link:visited, .course-container #commentform #submit, .course-container #commentform #submit:active, .course-container #commentform #submit:visited, .course-container .submit, .course-container .submit:active, .course-container .submit:visited, .course-container input[type=submit], .course-container input[type=submit]:active, .course-container input[type=submit]:visited, .course-container input.button, .course-container input.button:active, .course-container input.button:visited, .course-container button.button, .course-container button.button:active, .course-container button.button:visited, .course a.button, .course a.button:active, .course a.button:visited, .course a.comment-reply-link, .course a.comment-reply-link:active, .course a.comment-reply-link:visited, .course #commentform #submit, .course #commentform #submit:active, .course #commentform #submit:visited, .course .submit, .course .submit:active, .course .submit:visited, .course input[type=submit], .course input[type=submit]:active, .course input[type=submit]:visited, .course input.button, .course input.button:active, .course input.button:visited, .course button.button, .course button.button:active, .course button.button:visited, .lesson a.button, .lesson a.button:active, .lesson a.button:visited, .lesson a.comment-reply-link, .lesson a.comment-reply-link:active, .lesson a.comment-reply-link:visited, .lesson #commentform #submit, .lesson #commentform #submit:active, .lesson #commentform #submit:visited, .lesson .submit, .lesson .submit:active, .lesson .submit:visited, .lesson input[type=submit], .lesson input[type=submit]:active, .lesson input[type=submit]:visited, .lesson input.button, .lesson input.button:active, .lesson input.button:visited, .lesson button.button, .lesson button.button:active, .lesson button.button:visited, .quiz a.button, .quiz a.button:active, .quiz a.button:visited, .quiz a.comment-reply-link, .quiz a.comment-reply-link:active, .quiz a.comment-reply-link:visited, .quiz #commentform #submit, .quiz #commentform #submit:active, .quiz #commentform #submit:visited, .quiz .submit, .quiz .submit:active, .quiz .submit:visited, .quiz input[type=submit], .quiz input[type=submit]:active, .quiz input[type=submit]:visited, .quiz input.button, .quiz input.button:active, .quiz input.button:visited, .quiz button.button, .quiz button.button:active, .quiz button.button:visited { background-color: #418AD0; box-shadow: 2px 2px 0 0 #27639e; color: #FFF; }

.course-container a.button:hover, .course-container a.button:hover:active, .course-container a.button:focus, .course-container a.comment-reply-link:hover, .course-container a.comment-reply-link:hover:active, .course-container a.comment-reply-link:focus, .course-container #commentform #submit:hover, .course-container #commentform #submit:hover:active, .course-container #commentform #submit:focus, .course-container .submit:hover, .course-container .submit:hover:active, .course-container .submit:focus, .course-container input[type=submit]:hover, .course-container input[type=submit]:hover:active, .course-container input[type=submit]:focus, .course-container input.button:hover, .course-container input.button:hover:active, .course-container input.button:focus, .course-container button.button:hover, .course-container button.button:hover:active, .course-container button.button:focus, .course a.button:hover, .course a.button:hover:active, .course a.button:focus, .course a.comment-reply-link:hover, .course a.comment-reply-link:hover:active, .course a.comment-reply-link:focus, .course #commentform #submit:hover, .course #commentform #submit:hover:active, .course #commentform #submit:focus, .course .submit:hover, .course .submit:hover:active, .course .submit:focus, .course input[type=submit]:hover, .course input[type=submit]:hover:active, .course input[type=submit]:focus, .course input.button:hover, .course input.button:hover:active, .course input.button:focus, .course button.button:hover, .course button.button:hover:active, .course button.button:focus, .lesson a.button:hover, .lesson a.button:hover:active, .lesson a.button:focus, .lesson a.comment-reply-link:hover, .lesson a.comment-reply-link:hover:active, .lesson a.comment-reply-link:focus, .lesson #commentform #submit:hover, .lesson #commentform #submit:hover:active, .lesson #commentform #submit:focus, .lesson .submit:hover, .lesson .submit:hover:active, .lesson .submit:focus, .lesson input[type=submit]:hover, .lesson input[type=submit]:hover:active, .lesson input[type=submit]:focus, .lesson input.button:hover, .lesson input.button:hover:active, .lesson input.button:focus, .lesson button.button:hover, .lesson button.button:hover:active, .lesson button.button:focus, .quiz a.button:hover, .quiz a.button:hover:active, .quiz a.button:focus, .quiz a.comment-reply-link:hover, .quiz a.comment-reply-link:hover:active, .quiz a.comment-reply-link:focus, .quiz #commentform #submit:hover, .quiz #commentform #submit:hover:active, .quiz #commentform #submit:focus, .quiz .submit:hover, .quiz .submit:hover:active, .quiz .submit:focus, .quiz input[type=submit]:hover, .quiz input[type=submit]:hover:active, .quiz input[type=submit]:focus, .quiz input.button:hover, .quiz input.button:hover:active, .quiz input.button:focus, .quiz button.button:hover, .quiz button.button:hover:active, .quiz button.button:focus { background-color: #367DC0; color: #FFF; }

.course-container a.button:active, .course-container a.comment-reply-link:active, .course-container #commentform #submit:active, .course-container .submit:active, .course-container input[type=submit]:active, .course-container input.button:active, .course-container button.button:active, .course a.button:active, .course a.comment-reply-link:active, .course #commentform #submit:active, .course .submit:active, .course input[type=submit]:active, .course input.button:active, .course button.button:active, .lesson a.button:active, .lesson a.comment-reply-link:active, .lesson #commentform #submit:active, .lesson .submit:active, .lesson input[type=submit]:active, .lesson input.button:active, .lesson button.button:active, .quiz a.button:active, .quiz a.comment-reply-link:active, .quiz #commentform #submit:active, .quiz .submit:active, .quiz input[type=submit]:active, .quiz input.button:active, .quiz button.button:active { left: 2px; top: 2px; box-shadow: 0 0 0 0 #27639e; }

.course-container a.button, .course-container a.button:active, .course-container a.button:visited, .course-container a.comment-reply-link, .course-container a.comment-reply-link:active, .course-container a.comment-reply-link:visited, .course-container #commentform #submit, .course-container #commentform #submit:active, .course-container #commentform #submit:visited, .course-container .submit, .course-container .submit:active, .course-container .submit:visited, .course-container input[type=submit], .course-container input[type=submit]:active, .course-container input[type=submit]:visited, .course-container input.button, .course-container input.button:active, .course-container input.button:visited, .course-container button.button, .course-container button.button:active, .course-container button.button:visited, .course a.button, .course a.button:active, .course a.button:visited, .course a.comment-reply-link, .course a.comment-reply-link:active, .course a.comment-reply-link:visited, .course #commentform #submit, .course #commentform #submit:active, .course #commentform #submit:visited, .course .submit, .course .submit:active, .course .submit:visited, .course input[type=submit], .course input[type=submit]:active, .course input[type=submit]:visited, .course input.button, .course input.button:active, .course input.button:visited, .course button.button, .course button.button:active, .course button.button:visited, .lesson a.button, .lesson a.button:active, .lesson a.button:visited, .lesson a.comment-reply-link, .lesson a.comment-reply-link:active, .lesson a.comment-reply-link:visited, .lesson #commentform #submit, .lesson #commentform #submit:active, .lesson #commentform #submit:visited, .lesson .submit, .lesson .submit:active, .lesson .submit:visited, .lesson input[type=submit], .lesson input[type=submit]:active, .lesson input[type=submit]:visited, .lesson input.button, .lesson input.button:active, .lesson input.button:visited, .lesson button.button, .lesson button.button:active, .lesson button.button:visited, .quiz a.button, .quiz a.button:active, .quiz a.button:visited, .quiz a.comment-reply-link, .quiz a.comment-reply-link:active, .quiz a.comment-reply-link:visited, .quiz #commentform #submit, .quiz #commentform #submit:active, .quiz #commentform #submit:visited, .quiz .submit, .quiz .submit:active, .quiz .submit:visited, .quiz input[type=submit], .quiz input[type=submit]:active, .quiz input[type=submit]:visited, .quiz input.button, .quiz input.button:active, .quiz input.button:visited, .quiz button.button, .quiz button.button:active, .quiz button.button:visited { height: 40px; line-height: 20px; padding: 10px 18px; }

.sensei .course-container p.sensei-message, .sensei .course-container div.sensei-message, .course p.sensei-message, .course div.sensei-message, .lesson p.sensei-message, .lesson div.sensei-message, .quiz p.sensei-message, .quiz div.sensei-message, .learner-info p.sensei-message, .learner-info div.sensei-message { line-height: 36px; overflow: hidden; }

.sensei .course-container p.sensei-message a.next-lesson, .sensei .course-container p.sensei-message a.next-lesson:active, .sensei .course-container p.sensei-message a.next-lesson:visited, .sensei .course-container div.sensei-message a.next-lesson, .sensei .course-container div.sensei-message a.next-lesson:active, .sensei .course-container div.sensei-message a.next-lesson:visited, .course p.sensei-message a.next-lesson, .course p.sensei-message a.next-lesson:active, .course p.sensei-message a.next-lesson:visited, .course div.sensei-message a.next-lesson, .course div.sensei-message a.next-lesson:active, .course div.sensei-message a.next-lesson:visited, .lesson p.sensei-message a.next-lesson, .lesson p.sensei-message a.next-lesson:active, .lesson p.sensei-message a.next-lesson:visited, .lesson div.sensei-message a.next-lesson, .lesson div.sensei-message a.next-lesson:active, .lesson div.sensei-message a.next-lesson:visited, .quiz p.sensei-message a.next-lesson, .quiz p.sensei-message a.next-lesson:active, .quiz p.sensei-message a.next-lesson:visited, .quiz div.sensei-message a.next-lesson, .quiz div.sensei-message a.next-lesson:active, .quiz div.sensei-message a.next-lesson:visited, .learner-info p.sensei-message a.next-lesson, .learner-info p.sensei-message a.next-lesson:active, .learner-info p.sensei-message a.next-lesson:visited, .learner-info div.sensei-message a.next-lesson, .learner-info div.sensei-message a.next-lesson:active, .learner-info div.sensei-message a.next-lesson:visited { border: 0 none; border-radius: 3px; display: inline-block; font-size: 14px; font-weight: 700; height: 48px; left: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; transition: all 100ms ease; }

.sensei .course-container p.sensei-message a.next-lesson > .fa, .sensei .course-container div.sensei-message a.next-lesson > .fa, .course p.sensei-message a.next-lesson > .fa, .course div.sensei-message a.next-lesson > .fa, .lesson p.sensei-message a.next-lesson > .fa, .lesson div.sensei-message a.next-lesson > .fa, .quiz p.sensei-message a.next-lesson > .fa, .quiz div.sensei-message a.next-lesson > .fa, .learner-info p.sensei-message a.next-lesson > .fa, .learner-info div.sensei-message a.next-lesson > .fa { margin-left: 10px; }

.sensei .course-container p.sensei-message a.next-lesson, .sensei .course-container p.sensei-message a.next-lesson:active, .sensei .course-container p.sensei-message a.next-lesson:visited, .sensei .course-container div.sensei-message a.next-lesson, .sensei .course-container div.sensei-message a.next-lesson:active, .sensei .course-container div.sensei-message a.next-lesson:visited, .course p.sensei-message a.next-lesson, .course p.sensei-message a.next-lesson:active, .course p.sensei-message a.next-lesson:visited, .course div.sensei-message a.next-lesson, .course div.sensei-message a.next-lesson:active, .course div.sensei-message a.next-lesson:visited, .lesson p.sensei-message a.next-lesson, .lesson p.sensei-message a.next-lesson:active, .lesson p.sensei-message a.next-lesson:visited, .lesson div.sensei-message a.next-lesson, .lesson div.sensei-message a.next-lesson:active, .lesson div.sensei-message a.next-lesson:visited, .quiz p.sensei-message a.next-lesson, .quiz p.sensei-message a.next-lesson:active, .quiz p.sensei-message a.next-lesson:visited, .quiz div.sensei-message a.next-lesson, .quiz div.sensei-message a.next-lesson:active, .quiz div.sensei-message a.next-lesson:visited, .learner-info p.sensei-message a.next-lesson, .learner-info p.sensei-message a.next-lesson:active, .learner-info p.sensei-message a.next-lesson:visited, .learner-info div.sensei-message a.next-lesson, .learner-info div.sensei-message a.next-lesson:active, .learner-info div.sensei-message a.next-lesson:visited { background-color: #418AD0; box-shadow: 2px 2px 0 0 #27639e; color: #FFF; }

.sensei .course-container p.sensei-message a.next-lesson:hover, .sensei .course-container p.sensei-message a.next-lesson:hover:active, .sensei .course-container p.sensei-message a.next-lesson:focus, .sensei .course-container div.sensei-message a.next-lesson:hover, .sensei .course-container div.sensei-message a.next-lesson:hover:active, .sensei .course-container div.sensei-message a.next-lesson:focus, .course p.sensei-message a.next-lesson:hover, .course p.sensei-message a.next-lesson:hover:active, .course p.sensei-message a.next-lesson:focus, .course div.sensei-message a.next-lesson:hover, .course div.sensei-message a.next-lesson:hover:active, .course div.sensei-message a.next-lesson:focus, .lesson p.sensei-message a.next-lesson:hover, .lesson p.sensei-message a.next-lesson:hover:active, .lesson p.sensei-message a.next-lesson:focus, .lesson div.sensei-message a.next-lesson:hover, .lesson div.sensei-message a.next-lesson:hover:active, .lesson div.sensei-message a.next-lesson:focus, .quiz p.sensei-message a.next-lesson:hover, .quiz p.sensei-message a.next-lesson:hover:active, .quiz p.sensei-message a.next-lesson:focus, .quiz div.sensei-message a.next-lesson:hover, .quiz div.sensei-message a.next-lesson:hover:active, .quiz div.sensei-message a.next-lesson:focus, .learner-info p.sensei-message a.next-lesson:hover, .learner-info p.sensei-message a.next-lesson:hover:active, .learner-info p.sensei-message a.next-lesson:focus, .learner-info div.sensei-message a.next-lesson:hover, .learner-info div.sensei-message a.next-lesson:hover:active, .learner-info div.sensei-message a.next-lesson:focus { background-color: #367DC0; color: #FFF; }

.sensei .course-container p.sensei-message a.next-lesson:active, .sensei .course-container div.sensei-message a.next-lesson:active, .course p.sensei-message a.next-lesson:active, .course div.sensei-message a.next-lesson:active, .lesson p.sensei-message a.next-lesson:active, .lesson div.sensei-message a.next-lesson:active, .quiz p.sensei-message a.next-lesson:active, .quiz div.sensei-message a.next-lesson:active, .learner-info p.sensei-message a.next-lesson:active, .learner-info div.sensei-message a.next-lesson:active { left: 2px; top: 2px; box-shadow: 0 0 0 0 #27639e; }

.sensei .course-container p.sensei-message a.next-lesson, .sensei .course-container p.sensei-message a.next-lesson:active, .sensei .course-container p.sensei-message a.next-lesson:visited, .sensei .course-container div.sensei-message a.next-lesson, .sensei .course-container div.sensei-message a.next-lesson:active, .sensei .course-container div.sensei-message a.next-lesson:visited, .course p.sensei-message a.next-lesson, .course p.sensei-message a.next-lesson:active, .course p.sensei-message a.next-lesson:visited, .course div.sensei-message a.next-lesson, .course div.sensei-message a.next-lesson:active, .course div.sensei-message a.next-lesson:visited, .lesson p.sensei-message a.next-lesson, .lesson p.sensei-message a.next-lesson:active, .lesson p.sensei-message a.next-lesson:visited, .lesson div.sensei-message a.next-lesson, .lesson div.sensei-message a.next-lesson:active, .lesson div.sensei-message a.next-lesson:visited, .quiz p.sensei-message a.next-lesson, .quiz p.sensei-message a.next-lesson:active, .quiz p.sensei-message a.next-lesson:visited, .quiz div.sensei-message a.next-lesson, .quiz div.sensei-message a.next-lesson:active, .quiz div.sensei-message a.next-lesson:visited, .learner-info p.sensei-message a.next-lesson, .learner-info p.sensei-message a.next-lesson:active, .learner-info p.sensei-message a.next-lesson:visited, .learner-info div.sensei-message a.next-lesson, .learner-info div.sensei-message a.next-lesson:active, .learner-info div.sensei-message a.next-lesson:visited { height: 40px; line-height: 20px; padding: 10px 18px; }

.sensei-course-filters { margin-bottom: 2em; }

.sensei-course-filters li a { border: 0; font-size: 18px; padding: 12px 22px; }

#user-course-status-toggle { border-bottom: 0; margin-bottom: 2em; }

#user-course-status-toggle a { border: none; font-size: 18px; font-weight: normal; padding: 12px 22px; }

#user-course-status-toggle a.active { border-bottom: none; }

.entry-actions { margin-bottom: 2.4rem; }

.entry-actions > form { display: inline; margin-left: 1em; }

.entry-actions > form:first-child { margin-left: 0; }

.sensei-results-links { display: inline; overflow: hidden; }

.entry-actions .sensei-results-links { margin-bottom: 0; }

.entry-actions .sensei-results-links a.view-results { float: none; }

.fb_iframe_widget span { vertical-align: top !important; }

#my-courses { background: none; border: 0; color: inherit; font-size: inherit; padding: 0; }

#my-courses form#loginform input[type="submit"], #my-courses form#loginform input[type="submit"]:active, #my-courses form#loginform input[type="submit"]:visited { border: 0 none; border-radius: 3px; display: inline-block; font-size: 14px; font-weight: 700; height: 48px; left: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; transition: all 100ms ease; }

#my-courses form#loginform input[type="submit"] > .fa { margin-left: 10px; }

#my-courses form#loginform input[type="submit"], #my-courses form#loginform input[type="submit"]:active, #my-courses form#loginform input[type="submit"]:visited { background-color: #418AD0; box-shadow: 2px 2px 0 0 #27639e; color: #FFF; }

#my-courses form#loginform input[type="submit"]:hover, #my-courses form#loginform input[type="submit"]:hover:active, #my-courses form#loginform input[type="submit"]:focus { background-color: #367DC0; color: #FFF; }

#my-courses form#loginform input[type="submit"]:active { left: 2px; top: 2px; box-shadow: 0 0 0 0 #27639e; }

#my-courses form#loginform input[type="submit"], #my-courses form#loginform input[type="submit"]:active, #my-courses form#loginform input[type="submit"]:visited { height: 40px; line-height: 20px; padding: 10px 18px; }

#my-courses form#loginform input[type="submit"] + a { margin-left: 15px; }

#my-courses form#loginform input[type="checkbox"] { margin-right: 10px; }

/*# sourceMappingURL=maps/sensei.css.map */
