.tribe-events-notices { border-radius: 4px; border: 1px solid transparent; margin-bottom: 20px; padding: 15px !important; }

.tribe-events-notices:before { display: none; }

.tribe-events-notices { background-color: #d9edf7; border-color: #bce8f1; color: #31708f; }

.tribe-events-related-events-title { font-size: 30px !important; line-height: 1.2; margin-bottom: 4.25rem; margin-top: 0; text-align: center; }

.tribe-events-related-events-title:after { content: ''; display: block; height: 2px; margin: 2.4rem auto 0; width: 80px; }

.tribe-events-related-events-title > small { color: inherit; display: block; line-height: inherit; margin-top: 8px; }

.tribe-events-related-events-title > small.long-text { margin-top: 16px; }

#tribe-events-pg-template { margin: 0 !important; max-width: none !important; padding: 0 !important; }

.page-template-default:not(.has-sidebar).tribe-theme-lsx article.page { width: 100% !important; }

.archive:not(.has-sidebar).tribe-theme-lsx .site-main { width: 100% !important; }

#tribe-bar-form #tribe-bar-views { padding: 0; }

#tribe-bar-form #tribe-bar-views .tribe-bar-views-list { padding: 0; }

#tribe-bar-form .tribe-bar-submit input[type=submit], #tribe-bar-form .tribe-bar-submit input[type=submit]:active, #tribe-bar-form .tribe-bar-submit input[type=submit]:visited { border: 0 none; border-radius: 3px; display: inline-block; font-size: 14px; font-weight: 700; height: 48px; left: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; transition: all 100ms ease; }

#tribe-bar-form .tribe-bar-submit input[type=submit] > .fa { margin-left: 10px; }

#tribe-bar-form .tribe-bar-submit input[type=submit], #tribe-bar-form .tribe-bar-submit input[type=submit]:active, #tribe-bar-form .tribe-bar-submit input[type=submit]:visited { background-color: #418AD0; box-shadow: 2px 2px 0 0 #27639e; color: #FFF; }

#tribe-bar-form .tribe-bar-submit input[type=submit]:hover, #tribe-bar-form .tribe-bar-submit input[type=submit]:hover:active, #tribe-bar-form .tribe-bar-submit input[type=submit]:focus { background-color: #367DC0; color: #FFF; }

#tribe-bar-form .tribe-bar-submit input[type=submit]:active { left: 2px; top: 2px; box-shadow: 0 0 0 0 #27639e; }

#tribe-bar-form .tribe-bar-submit input[type=submit], #tribe-bar-form .tribe-bar-submit input[type=submit]:active, #tribe-bar-form .tribe-bar-submit input[type=submit]:visited { height: 40px; line-height: 20px; padding: 10px 18px; }

.tribe-events-button { box-shadow: 2px 2px 0 0 #7A030A; }

.tribe-events-button, .tribe-events-button:active, .tribe-events-button:visited, #tribe-events .tribe-events-button, #tribe-events .tribe-events-button:active, #tribe-events .tribe-events-button:visited { border: 0 none; border-radius: 3px; display: inline-block; font-size: 14px; font-weight: 700; height: 48px; left: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; transition: all 100ms ease; }

.tribe-events-button > .fa, #tribe-events .tribe-events-button > .fa { margin-left: 10px; }

.tribe-events-button, .tribe-events-button:active, .tribe-events-button:visited, #tribe-events .tribe-events-button, #tribe-events .tribe-events-button:active, #tribe-events .tribe-events-button:visited { background-color: #418AD0; box-shadow: 2px 2px 0 0 #27639e; color: #FFF; }

.tribe-events-button:hover, .tribe-events-button:hover:active, .tribe-events-button:focus, #tribe-events .tribe-events-button:hover, #tribe-events .tribe-events-button:hover:active, #tribe-events .tribe-events-button:focus { background-color: #367DC0; color: #FFF; }

.tribe-events-button:active, #tribe-events .tribe-events-button:active { left: 2px; top: 2px; box-shadow: 0 0 0 0 #27639e; }

.tribe-events-button, .tribe-events-button:active, .tribe-events-button:visited, #tribe-events .tribe-events-button, #tribe-events .tribe-events-button:active, #tribe-events .tribe-events-button:visited { height: 40px; line-height: 20px; padding: 10px 18px; }

.tribe-events-read-more { background-color: #a4050f !important; color: #ffffff !important; box-shadow: 2px 2px 0 0 #7C040C !important; }

.content-area a.tribe-events-read-more:not(.btn), .content-area a.tribe-events-read-more:not(.btn):active, .content-area a.tribe-events-read-more:not(.btn):visited { border: 0 none; border-radius: 3px; display: inline-block; font-size: 14px; font-weight: 700; height: 48px; left: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; transition: all 100ms ease; }

.content-area a.tribe-events-read-more:not(.btn) > .fa { margin-left: 10px; }

.content-area a.tribe-events-read-more:not(.btn), .content-area a.tribe-events-read-more:not(.btn):active, .content-area a.tribe-events-read-more:not(.btn):visited { background-color: #418AD0; box-shadow: 2px 2px 0 0 #27639e; color: #FFF; }

.content-area a.tribe-events-read-more:not(.btn):hover, .content-area a.tribe-events-read-more:not(.btn):hover:active, .content-area a.tribe-events-read-more:not(.btn):focus { background-color: #367DC0; color: #FFF; }

.content-area a.tribe-events-read-more:not(.btn):active { left: 2px; top: 2px; box-shadow: 0 0 0 0 #27639e; }

.content-area a.tribe-events-read-more:not(.btn), .content-area a.tribe-events-read-more:not(.btn):active, .content-area a.tribe-events-read-more:not(.btn):visited { height: 40px; line-height: 20px; padding: 10px 18px; }

.tribe-events-notices { margin-top: 0; }

.tribe-events-notices ul { margin-bottom: 0 !important; padding-left: 0 !important; }

#tribe-events-footer .tribe-events-sub-nav li, #tribe-events-header .tribe-events-sub-nav li { font-weight: bold; }

#tribe-events-footer .tribe-events-sub-nav li a, #tribe-events-header .tribe-events-sub-nav li a { background: none; }

#tribe-events-header { margin-bottom: 0; }

#tribe-events-header .tribe-events-sub-nav { display: none; }

#comments + #tribe-events-footer, #respond + #tribe-events-footer { margin-top: 8.5rem; }

.tribe-theme-lsx .datepicker { min-width: 160px; }

#tribe-bar-collapse-toggle { line-height: 31px; }

.tribe-events-calendar th { font-weight: normal; }

.tribe-events-calendar td div[id*=tribe-events-daynum-], .tribe-events-calendar td div[id*=tribe-events-daynum-] a { font-size: 14px; }

#tribe-events-content { margin-bottom: 0; padding: 0; }

#tribe-events-content a { color: #A4050F; }

#tribe-events-content .tribe-events-tooltip h4 { font-weight: bold; padding: 8px 12px; }

#tribe-events-content .tribe-events-tooltip .tribe-events-event-body { overflow: hidden; padding: 10px 12px 0; }

#tribe-events-content .tribe-events-tooltip .tribe-events-event-body .tribe-event-duration { font-weight: bold; }

#tribe-events-content .tribe-events-tooltip .tribe-events-event-body .tribe-event-duration .tribe-events-abbr { margin-bottom: 12px; }

#tribe-events-content .tribe-events-tooltip .tribe-events-event-body .tribe-event-description { padding: 12px 0 0 0; }

#tribe-events-content .tribe-events-tooltip .tribe-events-event-body .tribe-event-description p { margin-bottom: 12px; }

#tribe-events-content .tribe-events-tooltip:not(.tribe-event-featured) .tribe-events-event-thumb { padding: 12px 12px 12px 0; }

.tribe-events-user-recurrence-toggle input[type="radio"], .tribe-events-user-recurrence-toggle input[type="checkbox"] { margin-right: 8px; }

.tribe-events-list-separator-month { font-size: 18px; padding: 8px 12px; text-align: center; }

.tribe-events-list .tribe-events-list-event-title { font-size: 30px; margin-bottom: 12px; }

.tribe-events-list .tribe-events-loop .tribe-event-featured { margin-top: 2.25em; padding: 25px !important; }

.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-list-event-title { margin-top: 0; }

.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-list-event-title a { vertical-align: middle; }

.tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-list-event-title .label { font-size: 60%; margin-left: 10px; padding: 3px 12px; text-transform: uppercase; vertical-align: middle; }

@media (max-width: 767px) { .tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-list-event-title .label { display: none; } }

.tribe-events-list .tribe-events-loop .tribe-events-event-meta { font-weight: normal; }

.tribe-events-list .tribe-events-loop .tribe-events-event-meta a { color: #A4050F; }

@media (min-width: 768px) { .tribe-events-list .tribe-events-loop .type-tribe_events { display: -webkit-box; display: -ms-flexbox; display: flex; } }

.tribe-events-list .tribe-events-loop .type-tribe_events .tribe-events-event-meta { margin-bottom: 12px; }

.tribe-events-list .tribe-events-loop .tribe-events-event-image, .tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-event-image { float: none; margin: 0 35px 0 0; text-align: left; width: 350px; }

@media (max-width: 767px) { .tribe-events-list .tribe-events-loop .tribe-events-event-image, .tribe-events-list .tribe-events-loop .tribe-event-featured .tribe-events-event-image { margin: 0 0 15px 0; width: 100%; } }

@media (min-width: 768px) { .tribe-events-list .tribe-events-loop .tribe-events-event-content { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; } }

.tribe-events-day .tribe-events-day-time-slot h5 { font-size: 18px; margin-top: 35px; padding: 8px 12px; text-align: center; }

.tribe-events-day .tribe-events-day-time-slot .type-tribe_events { margin-left: 0; }

h2.tribe-events-page-title { font-size: 30px; margin-bottom: 35px; }

#tribe-events-bar { margin-bottom: 35px; }

.single-tribe_events .tribe-events-back { display: none; }

.single-tribe_events .tribe-events-single-event-title { font-size: 40px; }

.single-tribe_events .tribe-events-event-image { text-align: left; }

.single-tribe_events .tribe-events-schedule h2 { display: block; }

.single-tribe_events .tribe-events-schedule .tribe-events-cost { display: inline-block; font-size: 15px; font-style: normal; font-weight: 700; line-height: 1; padding: 8px 12px; text-align: center; text-overflow: ellipsis; }

.single-tribe_events .tribe-events-event-meta { font-size: inherit; }

.single-tribe_events .tribe-events-event-meta .column, .single-tribe_events .tribe-events-event-meta .tribe-events-meta-group { padding: 0 25px; }

.single-tribe_events .tribe-events-event-meta .tribe-events-meta-group .tribe-events-single-section-title { font-size: 22px; font-weight: normal; margin: 20px 0; }

@media (min-width: 768px) { .tribe-events-single ul.tribe-related-events li { margin-right: 2%; width: 32%; }
  .tribe-events-single ul.tribe-related-events li:last-child { margin-right: 0; } }

.tribe-events-single ul.tribe-related-events li .tribe-related-event-info { padding: 2rem; text-align: center; }

.tribe-events-single ul.tribe-related-events li .tribe-related-event-info .tribe-related-events-title { font-size: 20px; }

.tribe-events-single ul.tribe-related-events li .tribe-related-event-info .moretag { display: block; margin: 2rem -2rem -2rem; padding: 1rem 0; text-align: center; transition: background 300ms ease; }

.tribe-events-single ul.tribe-related-events li .tribe-related-event-info .moretag:after { color: inherit; content: '\f178'; display: inline-block; font-family: 'FontAwesome'; font-size: inherit; margin-left: 5px; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.tribe-events-event-cost { font-weight: bold; }

.tribe-events-event-cost .ticket-cost { margin-left: 10px; }

.tribe_events .cart { border: 1px solid #E1E1E1; background-color: #FFFFFF; padding: 1em 2em; margin-bottom: 2em; }

.tribe_events-template-default.single .tribe-events-single-event-description { padding: 0 2em 0 0; }

.tribe-button, .button.alt { background-color: #F7AE00 !important; color: #ffffff !important; border: none; width: 100%; -webkit-font-smoothing: antialiased; box-shadow: 2px 2px 0 0 #CE9100; padding: 0.5em; margin: 0em 0 1em 0; }

.tribe-events-tickets { background: #ffffff !important; }

.tribe-events-tickets td { padding: 10px 0 !important; }

.tribe-events-tickets td input:focus { border-color: #418AD0; outline: 0; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(65, 138, 208, 0.6); }

.tribe-events-tickets td select:focus { border-color: #418AD0; outline: 0; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(65, 138, 208, 0.6); }

.tribe-button.tribe-button--rsvp { margin: 0; }

.tribe-button.tribe-button--rsvp:hover { background-color: #eda700 !important; }

.tribe-tickets-meta-row { display: table-row; }

.tribe-tickets-table { width: 100%; }

.tribe-tickets-table label { padding-right: 15px; }

.tribe-events-tickets input, .tribe-events-tickets select { display: block; width: 100%; height: 50px; color: #4A4A4A; border: 1px solid #DDD; border-radius: 2px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; border-width: 2px; box-shadow: none; font-size: 18px; line-height: 1.33; padding: 10px 20px; transition: all 150ms ease; }

.tribe-events-tickets-title.tribe--rsvp { padding: 0 10px; }

@media (min-width: 992px) { .tribe_events .cart { float: right; width: 40%; }
  .tribe_events-template-default.single .tribe-events-single-event-description { float: left; width: 60%; } }

/*# sourceMappingURL=maps/the-events-calendar.css.map */
