.woocommerce-product-search .search-field, #wc_am_lost_api_key_form input[type="text"], #add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text, .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce form .form-row select, .woocommerce form.comment-form input[type="text"], .woocommerce form.comment-form input[type="email"], .woocommerce form.comment-form textarea, .woocommerce div.product form.cart .variations select, .woocommerce-page #main .woocommerce-Input, .woocommerce-page #main .quantity .qty, .woocommerce-page #main .woocommerce-ordering select, .wc-bookings-booking-form .form-field input[type="text"], .wc-bookings-booking-form .form-field input[type="number"], .post-type-archive-product .pp_content .quantity .qty, .tax-product_cat .pp_content .quantity .qty, .single-product .pp_content .quantity .qty, .wc-product-retailers, #address_form select.address-select, input.ms_shipping_date, textarea.ms_shipping_note, select#ms_addresses, select.shipping_methods.shipping_method, #wl-wrapper .wl-search-form input.find-input, .wl-sel, .wl-priv-sel { border-width: 2px; box-shadow: none; font-size: 18px; line-height: 1.33; padding: 10px 20px; transition: all 150ms ease; }

.woocommerce-product-search .search-field:focus, #wc_am_lost_api_key_form input[type="text"]:focus, #add_payment_method table.cart td.actions .coupon .input-text:focus, .woocommerce-cart table.cart td.actions .coupon .input-text:focus, .woocommerce-checkout table.cart td.actions .coupon .input-text:focus, .woocommerce form .form-row input.input-text:focus, .woocommerce form .form-row textarea:focus, .woocommerce form .form-row select:focus, .woocommerce form.comment-form input[type="text"]:focus, .woocommerce form.comment-form input[type="email"]:focus, .woocommerce form.comment-form textarea:focus, .woocommerce div.product form.cart .variations select:focus, .woocommerce-page #main .woocommerce-Input:focus, .woocommerce-page #main .quantity .qty:focus, .woocommerce-page #main .woocommerce-ordering select:focus, .wc-bookings-booking-form .form-field input[type="text"]:focus, .wc-bookings-booking-form .form-field input[type="number"]:focus, .post-type-archive-product .pp_content .quantity .qty:focus, .tax-product_cat .pp_content .quantity .qty:focus, .single-product .pp_content .quantity .qty:focus, .wc-product-retailers:focus, #address_form select.address-select:focus, input.ms_shipping_date:focus, textarea.ms_shipping_note:focus, select#ms_addresses:focus, select.shipping_methods.shipping_method:focus, #wl-wrapper .wl-search-form input.find-input:focus, .wl-sel:focus, .wl-priv-sel:focus { box-shadow: none; }

.woocommerce div.product .woocommerce-tabs .nav-tabs, .wl-tab-wrap .wl-tabs { -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column wrap; flex-flow: column wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; border-bottom: 0 none; margin: 0 0 15px 0; padding-left: 0; }

.woocommerce div.product .woocommerce-tabs .nav-tabs:before, .wl-tab-wrap .wl-tabs:before, .woocommerce div.product .woocommerce-tabs .nav-tabs:after, .wl-tab-wrap .wl-tabs:after { display: none; }

@media (min-width: 768px) { .woocommerce div.product .woocommerce-tabs .nav-tabs, .wl-tab-wrap .wl-tabs { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; } }

.woocommerce div.product .woocommerce-tabs .nav-tabs > li, .wl-tab-wrap .wl-tabs > li { margin-bottom: 0; width: 100%; }

@media (min-width: 768px) { .woocommerce div.product .woocommerce-tabs .nav-tabs > li, .wl-tab-wrap .wl-tabs > li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; max-width: 350px; } }

@media (min-width: 768px) { .woocommerce div.product .woocommerce-tabs .nav-tabs > li + li, .wl-tab-wrap .wl-tabs > li + li { margin-left: 10px; } }

.woocommerce div.product .woocommerce-tabs .nav-tabs > li > a, .wl-tab-wrap .wl-tabs > li > a { border: 0 none; border-radius: 0; font-size: 16px; margin: 0; padding: 1rem; text-align: center; transition: all 300ms ease; }

@media (min-width: 768px) { .woocommerce div.product .woocommerce-tabs .nav-tabs > li > a, .wl-tab-wrap .wl-tabs > li > a { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

@media (min-width: 992px) { .woocommerce div.product .woocommerce-tabs .nav-tabs > li > a, .wl-tab-wrap .wl-tabs > li > a { font-size: 22px; } }

.woocommerce div.product .woocommerce-tabs .nav-tabs > li.active > a, .wl-tab-wrap .wl-tabs > li.active > a { border: 0 none; position: relative; }

@media (min-width: 768px) { .woocommerce div.product .woocommerce-tabs .nav-tabs > li.active > a:after, .wl-tab-wrap .wl-tabs > li.active > a:after { content: ''; border-style: solid; border-width: 0 6px 6px 6px; bottom: 0; height: 0; left: 50%; position: absolute; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 0; } }

@media (min-width: 768px) and (min-width: 992px) { .woocommerce div.product .woocommerce-tabs .nav-tabs > li.active > a:after, .wl-tab-wrap .wl-tabs > li.active > a:after { border-width: 0 9px 9px 9px; } }

.woocommerce-product-search .search-field, #wc_am_lost_api_key_form input[type="text"], #add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text, .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce form .form-row select, .woocommerce form.comment-form input[type="text"], .woocommerce form.comment-form input[type="email"], .woocommerce form.comment-form textarea, .woocommerce div.product form.cart .variations select, .woocommerce-page #main .quantity .qty, .woocommerce-page #main .woocommerce-ordering select, .wc-bookings-booking-form .form-field input[type="text"], .wc-bookings-booking-form .form-field input[type="number"], .wc-product-retailers, #address_form select.address-select, input.ms_shipping_date, textarea.ms_shipping_note, select#ms_addresses, select.shipping_methods.shipping_method, #wl-wrapper .wl-search-form input.find-input, .wl-sel, .wl-priv-sel { display: block; width: 100%; height: 50px; color: #4a4a4a; background-color: #fff; background-image: none; border: 1px solid #DDD; border-radius: 2px; border-width: 2px; box-shadow: none; font-size: 18px; line-height: 1.33; padding: 10px 20px; transition: all 150ms ease; }

.woocommerce-product-search .search-field:focus, #wc_am_lost_api_key_form input[type="text"]:focus, #add_payment_method table.cart td.actions .coupon .input-text:focus, .woocommerce-cart table.cart td.actions .coupon .input-text:focus, .woocommerce-checkout table.cart td.actions .coupon .input-text:focus, .woocommerce form .form-row input.input-text:focus, .woocommerce form .form-row textarea:focus, .woocommerce form .form-row select:focus, .woocommerce form.comment-form input[type="text"]:focus, .woocommerce form.comment-form input[type="email"]:focus, .woocommerce form.comment-form textarea:focus, .woocommerce div.product form.cart .variations select:focus, .woocommerce-page #main .quantity .qty:focus, .woocommerce-page #main .woocommerce-ordering select:focus, .wc-bookings-booking-form .form-field input[type="text"]:focus, .wc-bookings-booking-form .form-field input[type="number"]:focus, .wc-product-retailers:focus, #address_form select.address-select:focus, input.ms_shipping_date:focus, textarea.ms_shipping_note:focus, select#ms_addresses:focus, select.shipping_methods.shipping_method:focus, #wl-wrapper .wl-search-form input.find-input:focus, .wl-sel:focus, .wl-priv-sel:focus { border-color: #418AD0; }

.woocommerce-message, .woocommerce-info, .woocommerce-error, .woocommerce-noreviews, .woocommerce_message, .woocommerce_info, .woocommerce_error, .woocommerce_noreviews, p.no-comments, .stock, .woocommerce-password-strength, #wc-bookings-booking-form .wc-bookings-booking-cost, .first-payment-date, .limited-subscription-notice { border-radius: 4px; border: 1px solid transparent; margin-bottom: 20px; padding: 15px !important; }

.woocommerce-message:before, .woocommerce-info:before, .woocommerce-error:before, .woocommerce-noreviews:before, .woocommerce_message:before, .woocommerce_info:before, .woocommerce_error:before, .woocommerce_noreviews:before, p.no-comments:before, .stock:before, .woocommerce-password-strength:before, #wc-bookings-booking-form .wc-bookings-booking-cost:before, .first-payment-date:before, .limited-subscription-notice:before { display: none; }

.woocommerce-message, .woocommerce_message, .stock.in-stock, .woocommerce-password-strength.strong, #wc-bookings-booking-form .wc-bookings-booking-cost { background-color: #dff0d8; border-color: #d6e9c6; color: #3c763d; }

.woocommerce-error, .woocommerce_error, .stock.out-of-stock, .woocommerce-password-strength.short, .woocommerce-password-strength.bad { background-color: #f2dede; border-color: #ebccd1; color: #a94442; }

.woocommerce-info, .woocommerce_info, .woocommerce-password-strength.info, .first-payment-date, .limited-subscription-notice { background-color: #d9edf7; border-color: #bce8f1; color: #31708f; }

#wc_am_lost_api_key_form input[type="text"], #add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text, .woocommerce form .form-row input.input-text, .woocommerce form.comment-form input[type="text"], .woocommerce form.comment-form input[type="email"], .woocommerce-page #main .quantity .qty, .woocommerce-page #main .woocommerce-Input, .wc-bookings-booking-form .form-field input[type="text"], .wc-bookings-booking-form .form-field input[type="number"], .post-type-archive-product .pp_content .quantity .qty, .tax-product_cat .pp_content .quantity .qty, .single-product .pp_content .quantity .qty, #address_form select.address-select, input.ms_shipping_date, textarea.ms_shipping_note, select#ms_addresses, select.shipping_methods.shipping_method { height: 42px; padding: 10px 12px; }

.woocommerce select, .woocommerce form .form-row select, .woocommerce div.product form.cart .variations select, .woocommerce-page #main .woocommerce-ordering select, .wc-product-retailers { height: 42px; padding: 0 12px; }

.page-template-default:not(.has-sidebar).woocommerce-page article.page, .page-template-default:not(.has-sidebar).lost-api-key article.page { width: 100% !important; }

.archive:not(.has-sidebar).woocommerce-page .site-main { width: 100% !important; }

.form-row { margin-bottom: 15px !important; padding: 0 !important; }

.woocommerce-LostPassword:last-child { margin-bottom: 0; }

.woocommerce .entry-content:after, .woocommerce-page .entry-content:after { clear: both; content: ''; display: table; }

@media (max-width: 767px) { .woocommerce ul.products li.product, .woocommerce[class*=columns-] ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product { width: 100%; } }

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3, .woocommerce[class*=columns-] ul.products li.product .woocommerce-loop-category__title, .woocommerce[class*=columns-] ul.products li.product .woocommerce-loop-product__title, .woocommerce[class*=columns-] ul.products li.product h3, .woocommerce-page ul.products li.product .woocommerce-loop-category__title, .woocommerce-page ul.products li.product .woocommerce-loop-product__title, .woocommerce-page ul.products li.product h3, .woocommerce-page[class*=columns-] ul.products li.product .woocommerce-loop-category__title, .woocommerce-page[class*=columns-] ul.products li.product .woocommerce-loop-product__title, .woocommerce-page[class*=columns-] ul.products li.product h3 { font-size: 22px; }

@media (min-width: 768px) { .woocommerce.woocommerce-checkout .col2-set, .woocommerce-page.woocommerce-checkout .col2-set { float: left; margin-right: 4.347826087%; width: 47.8260869565%; } }

@media (min-width: 768px) { .woocommerce.woocommerce-checkout .col2-set .col-1, .woocommerce.woocommerce-checkout .col2-set .col-2, .woocommerce-page.woocommerce-checkout .col2-set .col-1, .woocommerce-page.woocommerce-checkout .col2-set .col-2 { float: none; margin-bottom: 4.25rem; width: 100%; } }

@media (max-width: 767px) { .woocommerce.woocommerce-account .col2-set .col-1, .woocommerce.woocommerce-account .col2-set .col-2, .woocommerce-page.woocommerce-account .col2-set .col-1, .woocommerce-page.woocommerce-account .col2-set .col-2 { float: none; margin-bottom: 4.25rem; width: 100%; } }

@media (min-width: 768px) { .woocommerce.woocommerce-account .col2-set .col-1, .woocommerce.woocommerce-account .col2-set .col-2, .woocommerce-page.woocommerce-account .col2-set .col-1, .woocommerce-page.woocommerce-account .col2-set .col-2 { float: left; margin-right: 4.347826087%; width: 47.8260869565%; }
  .woocommerce.woocommerce-account .col2-set .col-2, .woocommerce-page.woocommerce-account .col2-set .col-2 { margin-right: 0; } }

@media (min-width: 768px) { .woocommerce #order_review, .woocommerce #order_review_heading, .woocommerce .woochimp_checkout_checkbox, .woocommerce #woochimp_checkout_groups, .woocommerce-page #order_review, .woocommerce-page #order_review_heading, .woocommerce-page .woochimp_checkout_checkbox, .woocommerce-page #woochimp_checkout_groups { float: right; margin-right: 0; width: 47.8260869565%; } }

.woocommerce .woochimp_checkout_checkbox, .woocommerce-page .woochimp_checkout_checkbox { margin-bottom: 2.4rem; padding: 0 0 0 20px !important; }

.woocommerce .woochimp_checkout_checkbox input[type="checkbox"], .woocommerce-page .woochimp_checkout_checkbox input[type="checkbox"] { margin-left: -20px; position: absolute; }

.woocommerce #woochimp_checkout_groups, .woocommerce-page #woochimp_checkout_groups { padding-left: 20px; margin-bottom: 2.4rem; }

.woocommerce table.woocommerce-MyAccount-downloads, .woocommerce table.my_account_orders, .woocommerce-page table.woocommerce-MyAccount-downloads, .woocommerce-page table.my_account_orders { font-size: 1em; }

.woocommerce table.woocommerce-MyAccount-downloads td, .woocommerce table.woocommerce-MyAccount-downloads th, .woocommerce table.my_account_orders td, .woocommerce table.my_account_orders th, .woocommerce-page table.woocommerce-MyAccount-downloads td, .woocommerce-page table.woocommerce-MyAccount-downloads th, .woocommerce-page table.my_account_orders td, .woocommerce-page table.my_account_orders th { padding: 9px 12px; }

.woocommerce table.woocommerce-MyAccount-downloads .button, .woocommerce table.my_account_orders .button, .woocommerce-page table.woocommerce-MyAccount-downloads .button, .woocommerce-page table.my_account_orders .button { margin-right: 5px; }

.woocommerce table.woocommerce-MyAccount-downloads .button:last-child, .woocommerce table.my_account_orders .button:last-child, .woocommerce-page table.woocommerce-MyAccount-downloads .button:last-child, .woocommerce-page table.my_account_orders .button:last-child { margin-right: 0; }

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment { background: transparent; }

#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods { border-bottom: none; margin-bottom: 2.4rem; padding: 0; }

#add_payment_method #payment ul.payment_methods li.wc_payment_method > label:before, .woocommerce-cart #payment ul.payment_methods li.wc_payment_method > label:before, .woocommerce-checkout #payment ul.payment_methods li.wc_payment_method > label:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f10c"; margin-right: 0.5407911001em; transition: color ease .2s; }

#add_payment_method #payment ul.payment_methods li.wc_payment_method input[type=radio]:first-child:checked + label:before, .woocommerce-cart #payment ul.payment_methods li.wc_payment_method input[type=radio]:first-child:checked + label:before, .woocommerce-checkout #payment ul.payment_methods li.wc_payment_method input[type=radio]:first-child:checked + label:before { content: "\f192"; }

#add_payment_method #payment ul.payment_methods li:not(.woocommerce-notice), .woocommerce-cart #payment ul.payment_methods li:not(.woocommerce-notice), .woocommerce-checkout #payment ul.payment_methods li:not(.woocommerce-notice) { line-height: 1.6; }

#add_payment_method #payment ul.payment_methods li:not(.woocommerce-notice) > input[type="radio"], .woocommerce-cart #payment ul.payment_methods li:not(.woocommerce-notice) > input[type="radio"], .woocommerce-checkout #payment ul.payment_methods li:not(.woocommerce-notice) > input[type="radio"] { clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); position: absolute !important; }

#add_payment_method #payment ul.payment_methods li:not(.woocommerce-notice) > label, .woocommerce-cart #payment ul.payment_methods li:not(.woocommerce-notice) > label, .woocommerce-checkout #payment ul.payment_methods li:not(.woocommerce-notice) > label { cursor: pointer; display: block; margin-bottom: 0; padding: 1.41575em; }

#add_payment_method #payment ul.payment_methods li:not(.woocommerce-notice) > label > img, .woocommerce-cart #payment ul.payment_methods li:not(.woocommerce-notice) > label > img, .woocommerce-checkout #payment ul.payment_methods li:not(.woocommerce-notice) > label > img { border: 0; float: right; margin: 0 0 0 0.5em; max-height: 1.618em; padding: 0; }

#add_payment_method #payment ul.payment_methods li:not(.woocommerce-notice) > label > img + a, .woocommerce-cart #payment ul.payment_methods li:not(.woocommerce-notice) > label > img + a, .woocommerce-checkout #payment ul.payment_methods li:not(.woocommerce-notice) > label > img + a { line-height: 2; }

#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box { margin: 0; }

#add_payment_method #payment div.payment_box:before, .woocommerce-cart #payment div.payment_box:before, .woocommerce-checkout #payment div.payment_box:before { display: none; }

.woocommerce { /*#billing_country_field, #shipping_country_field, #billing_state_field, #shipping_state_field { .select2.select2-container { display:none; } }*/ }

.woocommerce div.product .woocommerce-tabs .panel { border: none; border-radius: 0; box-shadow: none; padding: 2em; }

.woocommerce div.product .woocommerce-tabs .panel > *:last-child { margin-bottom: 0; }

.woocommerce div.product .woocommerce-tabs #comments { margin-top: 0; }

.woocommerce div.product form.cart .variations td.label { display: inline-block; font-weight: 400; font-size: 100%; padding: 11px 0; }

.woocommerce div.product form.cart .variations td.label label { font-weight: 400; }

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register { border: none; padding: 0; margin: 2.4rem 0 4.25rem 0; border-radius: 0; }

.product .product_meta > span { display: block; padding: 5px 0; }

.product .product_meta > span.api-documentation { margin-bottom: 15px; }

.product #respond { text-align: left; }

.product #respond > .comment-form > p label, .product #respond > .comment-form > p span { display: inline-block; }

.product #respond > .comment-form input[type="submit"] { width: auto; }

.woocommerce-variation-price { margin-bottom: 1.618em; }

.lsx-wc-sorting { margin-bottom: 2.617924em; overflow: hidden; }

.lsx-wc-sorting .woocommerce-ordering { float: none; }

@media (min-width: 768px) { .lsx-wc-sorting .woocommerce-ordering { float: left; margin-bottom: 0; margin-right: 1em; } }

.lsx-wc-sorting .woocommerce-result-count { float: none; }

@media (min-width: 768px) { .lsx-wc-sorting .woocommerce-result-count { float: left; line-height: 50px; margin-bottom: 0; position: relative; } }

.lsx-wc-sorting .lsx-pagination-wrapper { margin-top: 0; text-align: left; }

@media (min-width: 768px) { .lsx-wc-sorting .lsx-pagination-wrapper { float: right; margin-top: 5px; } }

.woocommerce-product-search .search-field { border-radius: 2px 0 0 2px; position: relative; z-index: 1; }

.woocommerce-product-search input[type="submit"] { box-shadow: none; margin-left: -2px; position: relative; z-index: 2; }

.woocommerce-product-search input[type="submit"], .woocommerce-product-search input[type="submit"]:active, .woocommerce-product-search input[type="submit"]:visited { border: 0 none; border-radius: 3px; display: inline-block; font-size: 14px; font-weight: 700; height: 48px; left: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; transition: all 100ms ease; }

.woocommerce-product-search input[type="submit"] > .fa { margin-left: 10px; }

.woocommerce-product-search input[type="submit"], .woocommerce-product-search input[type="submit"]:active, .woocommerce-product-search input[type="submit"]:visited { background-color: #418AD0; box-shadow: 2px 2px 0 0 #27639e; color: #FFF; }

.woocommerce-product-search input[type="submit"]:hover, .woocommerce-product-search input[type="submit"]:hover:active, .woocommerce-product-search input[type="submit"]:focus { background-color: #367DC0; color: #FFF; }

.woocommerce-product-search input[type="submit"]:active { left: 2px; top: 2px; box-shadow: 0 0 0 0 #27639e; }

#wc_am_lost_api_key_form input[type="submit"], #wc_am_lost_api_key_form input[type="submit"]:active, #wc_am_lost_api_key_form input[type="submit"]:visited { border: 0 none; border-radius: 3px; display: inline-block; font-size: 14px; font-weight: 700; height: 48px; left: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; transition: all 100ms ease; }

#wc_am_lost_api_key_form input[type="submit"] > .fa { margin-left: 10px; }

#wc_am_lost_api_key_form input[type="submit"], #wc_am_lost_api_key_form input[type="submit"]:active, #wc_am_lost_api_key_form input[type="submit"]:visited { background-color: #418AD0; box-shadow: 2px 2px 0 0 #27639e; color: #FFF; }

#wc_am_lost_api_key_form input[type="submit"]:hover, #wc_am_lost_api_key_form input[type="submit"]:hover:active, #wc_am_lost_api_key_form input[type="submit"]:focus { background-color: #367DC0; color: #FFF; }

#wc_am_lost_api_key_form input[type="submit"]:active { left: 2px; top: 2px; box-shadow: 0 0 0 0 #27639e; }

#wc_am_lost_api_key_form input[type="submit"], #wc_am_lost_api_key_form input[type="submit"]:active, #wc_am_lost_api_key_form input[type="submit"]:visited { height: 40px; line-height: 20px; padding: 10px 18px; }

#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text { width: 160px; }

@media (max-width: 767px) { #add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text { width: 100%; } }

#add_payment_method .cart_totals table.shop_table tbody tr:first-child th, .woocommerce-cart .cart_totals table.shop_table tbody tr:first-child th, .woocommerce-checkout .cart_totals table.shop_table tbody tr:first-child th, .woocommerce-account .cart_totals table.shop_table tbody tr:first-child th { border-radius: 5px 0 0 0; }

#add_payment_method .cart_totals table.shop_table tbody tr:first-child td, .woocommerce-cart .cart_totals table.shop_table tbody tr:first-child td, .woocommerce-checkout .cart_totals table.shop_table tbody tr:first-child td, .woocommerce-account .cart_totals table.shop_table tbody tr:first-child td { border-radius: 0 5px 0 0; }

#add_payment_method .cart_totals table.shop_table tbody tr:last-child th, .woocommerce-cart .cart_totals table.shop_table tbody tr:last-child th, .woocommerce-checkout .cart_totals table.shop_table tbody tr:last-child th, .woocommerce-account .cart_totals table.shop_table tbody tr:last-child th { border-radius: 0 0 0 5px; }

#add_payment_method .cart_totals table.shop_table tbody tr:last-child td, .woocommerce-cart .cart_totals table.shop_table tbody tr:last-child td, .woocommerce-checkout .cart_totals table.shop_table tbody tr:last-child td, .woocommerce-account .cart_totals table.shop_table tbody tr:last-child td { border-radius: 0 0 5px 0; }

#add_payment_method .woocommerce-checkout-review-order table.shop_table thead tr:first-child > *:first-child, #add_payment_method .woocommerce-order-details table.shop_table thead tr:first-child > *:first-child, #add_payment_method .woocommerce-order-downloads table.shop_table thead tr:first-child > *:first-child, #add_payment_method .woocommerce-MyAccount-content table.shop_table thead tr:first-child > *:first-child, .woocommerce-cart .woocommerce-checkout-review-order table.shop_table thead tr:first-child > *:first-child, .woocommerce-cart .woocommerce-order-details table.shop_table thead tr:first-child > *:first-child, .woocommerce-cart .woocommerce-order-downloads table.shop_table thead tr:first-child > *:first-child, .woocommerce-cart .woocommerce-MyAccount-content table.shop_table thead tr:first-child > *:first-child, .woocommerce-checkout .woocommerce-checkout-review-order table.shop_table thead tr:first-child > *:first-child, .woocommerce-checkout .woocommerce-order-details table.shop_table thead tr:first-child > *:first-child, .woocommerce-checkout .woocommerce-order-downloads table.shop_table thead tr:first-child > *:first-child, .woocommerce-checkout .woocommerce-MyAccount-content table.shop_table thead tr:first-child > *:first-child, .woocommerce-account .woocommerce-checkout-review-order table.shop_table thead tr:first-child > *:first-child, .woocommerce-account .woocommerce-order-details table.shop_table thead tr:first-child > *:first-child, .woocommerce-account .woocommerce-order-downloads table.shop_table thead tr:first-child > *:first-child, .woocommerce-account .woocommerce-MyAccount-content table.shop_table thead tr:first-child > *:first-child { border-radius: 5px 0 0 0; }

#add_payment_method .woocommerce-checkout-review-order table.shop_table thead tr:first-child > *:last-child, #add_payment_method .woocommerce-order-details table.shop_table thead tr:first-child > *:last-child, #add_payment_method .woocommerce-order-downloads table.shop_table thead tr:first-child > *:last-child, #add_payment_method .woocommerce-MyAccount-content table.shop_table thead tr:first-child > *:last-child, .woocommerce-cart .woocommerce-checkout-review-order table.shop_table thead tr:first-child > *:last-child, .woocommerce-cart .woocommerce-order-details table.shop_table thead tr:first-child > *:last-child, .woocommerce-cart .woocommerce-order-downloads table.shop_table thead tr:first-child > *:last-child, .woocommerce-cart .woocommerce-MyAccount-content table.shop_table thead tr:first-child > *:last-child, .woocommerce-checkout .woocommerce-checkout-review-order table.shop_table thead tr:first-child > *:last-child, .woocommerce-checkout .woocommerce-order-details table.shop_table thead tr:first-child > *:last-child, .woocommerce-checkout .woocommerce-order-downloads table.shop_table thead tr:first-child > *:last-child, .woocommerce-checkout .woocommerce-MyAccount-content table.shop_table thead tr:first-child > *:last-child, .woocommerce-account .woocommerce-checkout-review-order table.shop_table thead tr:first-child > *:last-child, .woocommerce-account .woocommerce-order-details table.shop_table thead tr:first-child > *:last-child, .woocommerce-account .woocommerce-order-downloads table.shop_table thead tr:first-child > *:last-child, .woocommerce-account .woocommerce-MyAccount-content table.shop_table thead tr:first-child > *:last-child { border-radius: 0 5px 0 0; }

#add_payment_method .woocommerce-checkout-review-order table.shop_table tbody:last-child tr:last-child > *:first-child, #add_payment_method .woocommerce-checkout-review-order table.shop_table tfoot tr:last-child > *:first-child, #add_payment_method .woocommerce-order-details table.shop_table tbody:last-child tr:last-child > *:first-child, #add_payment_method .woocommerce-order-details table.shop_table tfoot tr:last-child > *:first-child, #add_payment_method .woocommerce-order-downloads table.shop_table tbody:last-child tr:last-child > *:first-child, #add_payment_method .woocommerce-order-downloads table.shop_table tfoot tr:last-child > *:first-child, #add_payment_method .woocommerce-MyAccount-content table.shop_table tbody:last-child tr:last-child > *:first-child, #add_payment_method .woocommerce-MyAccount-content table.shop_table tfoot tr:last-child > *:first-child, .woocommerce-cart .woocommerce-checkout-review-order table.shop_table tbody:last-child tr:last-child > *:first-child, .woocommerce-cart .woocommerce-checkout-review-order table.shop_table tfoot tr:last-child > *:first-child, .woocommerce-cart .woocommerce-order-details table.shop_table tbody:last-child tr:last-child > *:first-child, .woocommerce-cart .woocommerce-order-details table.shop_table tfoot tr:last-child > *:first-child, .woocommerce-cart .woocommerce-order-downloads table.shop_table tbody:last-child tr:last-child > *:first-child, .woocommerce-cart .woocommerce-order-downloads table.shop_table tfoot tr:last-child > *:first-child, .woocommerce-cart .woocommerce-MyAccount-content table.shop_table tbody:last-child tr:last-child > *:first-child, .woocommerce-cart .woocommerce-MyAccount-content table.shop_table tfoot tr:last-child > *:first-child, .woocommerce-checkout .woocommerce-checkout-review-order table.shop_table tbody:last-child tr:last-child > *:first-child, .woocommerce-checkout .woocommerce-checkout-review-order table.shop_table tfoot tr:last-child > *:first-child, .woocommerce-checkout .woocommerce-order-details table.shop_table tbody:last-child tr:last-child > *:first-child, .woocommerce-checkout .woocommerce-order-details table.shop_table tfoot tr:last-child > *:first-child, .woocommerce-checkout .woocommerce-order-downloads table.shop_table tbody:last-child tr:last-child > *:first-child, .woocommerce-checkout .woocommerce-order-downloads table.shop_table tfoot tr:last-child > *:first-child, .woocommerce-checkout .woocommerce-MyAccount-content table.shop_table tbody:last-child tr:last-child > *:first-child, .woocommerce-checkout .woocommerce-MyAccount-content table.shop_table tfoot tr:last-child > *:first-child, .woocommerce-account .woocommerce-checkout-review-order table.shop_table tbody:last-child tr:last-child > *:first-child, .woocommerce-account .woocommerce-checkout-review-order table.shop_table tfoot tr:last-child > *:first-child, .woocommerce-account .woocommerce-order-details table.shop_table tbody:last-child tr:last-child > *:first-child, .woocommerce-account .woocommerce-order-details table.shop_table tfoot tr:last-child > *:first-child, .woocommerce-account .woocommerce-order-downloads table.shop_table tbody:last-child tr:last-child > *:first-child, .woocommerce-account .woocommerce-order-downloads table.shop_table tfoot tr:last-child > *:first-child, .woocommerce-account .woocommerce-MyAccount-content table.shop_table tbody:last-child tr:last-child > *:first-child, .woocommerce-account .woocommerce-MyAccount-content table.shop_table tfoot tr:last-child > *:first-child { border-radius: 0 0 0 5px; }

#add_payment_method .woocommerce-checkout-review-order table.shop_table tbody:last-child tr:last-child > *:last-child, #add_payment_method .woocommerce-checkout-review-order table.shop_table tfoot tr:last-child > *:last-child, #add_payment_method .woocommerce-order-details table.shop_table tbody:last-child tr:last-child > *:last-child, #add_payment_method .woocommerce-order-details table.shop_table tfoot tr:last-child > *:last-child, #add_payment_method .woocommerce-order-downloads table.shop_table tbody:last-child tr:last-child > *:last-child, #add_payment_method .woocommerce-order-downloads table.shop_table tfoot tr:last-child > *:last-child, #add_payment_method .woocommerce-MyAccount-content table.shop_table tbody:last-child tr:last-child > *:last-child, #add_payment_method .woocommerce-MyAccount-content table.shop_table tfoot tr:last-child > *:last-child, .woocommerce-cart .woocommerce-checkout-review-order table.shop_table tbody:last-child tr:last-child > *:last-child, .woocommerce-cart .woocommerce-checkout-review-order table.shop_table tfoot tr:last-child > *:last-child, .woocommerce-cart .woocommerce-order-details table.shop_table tbody:last-child tr:last-child > *:last-child, .woocommerce-cart .woocommerce-order-details table.shop_table tfoot tr:last-child > *:last-child, .woocommerce-cart .woocommerce-order-downloads table.shop_table tbody:last-child tr:last-child > *:last-child, .woocommerce-cart .woocommerce-order-downloads table.shop_table tfoot tr:last-child > *:last-child, .woocommerce-cart .woocommerce-MyAccount-content table.shop_table tbody:last-child tr:last-child > *:last-child, .woocommerce-cart .woocommerce-MyAccount-content table.shop_table tfoot tr:last-child > *:last-child, .woocommerce-checkout .woocommerce-checkout-review-order table.shop_table tbody:last-child tr:last-child > *:last-child, .woocommerce-checkout .woocommerce-checkout-review-order table.shop_table tfoot tr:last-child > *:last-child, .woocommerce-checkout .woocommerce-order-details table.shop_table tbody:last-child tr:last-child > *:last-child, .woocommerce-checkout .woocommerce-order-details table.shop_table tfoot tr:last-child > *:last-child, .woocommerce-checkout .woocommerce-order-downloads table.shop_table tbody:last-child tr:last-child > *:last-child, .woocommerce-checkout .woocommerce-order-downloads table.shop_table tfoot tr:last-child > *:last-child, .woocommerce-checkout .woocommerce-MyAccount-content table.shop_table tbody:last-child tr:last-child > *:last-child, .woocommerce-checkout .woocommerce-MyAccount-content table.shop_table tfoot tr:last-child > *:last-child, .woocommerce-account .woocommerce-checkout-review-order table.shop_table tbody:last-child tr:last-child > *:last-child, .woocommerce-account .woocommerce-checkout-review-order table.shop_table tfoot tr:last-child > *:last-child, .woocommerce-account .woocommerce-order-details table.shop_table tbody:last-child tr:last-child > *:last-child, .woocommerce-account .woocommerce-order-details table.shop_table tfoot tr:last-child > *:last-child, .woocommerce-account .woocommerce-order-downloads table.shop_table tbody:last-child tr:last-child > *:last-child, .woocommerce-account .woocommerce-order-downloads table.shop_table tfoot tr:last-child > *:last-child, .woocommerce-account .woocommerce-MyAccount-content table.shop_table tbody:last-child tr:last-child > *:last-child, .woocommerce-account .woocommerce-MyAccount-content table.shop_table tfoot tr:last-child > *:last-child { border-radius: 0 0 5px 0; }

@media (max-width: 767px) { .woocommerce table.shop_table td:not(:first-child) { border-top: 0; } }

.woocommerce .woocommerce-customer-details address { border-bottom-width: 1px; border-right-width: 1px; padding: 9px 12px; }

.woocommerce form .form-row textarea { height: 80px; }

.woocommerce form .form-row input[type="file"] { font-size: 12px; font-weight: normal; height: auto; line-height: normal; }

.woocommerce form .form-row input[type="radio"], .woocommerce form .form-row input[type="checkbox"] { margin-right: 10px; }

.woocommerce form.comment-form textarea { height: 80px; }

.lsx-wc-cart-menu-item .widget_shopping_cart .buttons .button { border-radius: 0 !important; box-shadow: none !important; display: block !important; }

.lsx-wc-cart-menu-item .widget_shopping_cart .buttons .button, .lsx-wc-cart-menu-item .widget_shopping_cart .buttons .button:active, .lsx-wc-cart-menu-item .widget_shopping_cart .buttons .button:visited { border: 0 none; border-radius: 3px; display: inline-block; font-size: 14px; font-weight: 700; height: 48px; left: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; transition: all 100ms ease; }

.lsx-wc-cart-menu-item .widget_shopping_cart .buttons .button > .fa { margin-left: 10px; }

.lsx-wc-cart-menu-item .widget_shopping_cart .buttons .button, .lsx-wc-cart-menu-item .widget_shopping_cart .buttons .button:active, .lsx-wc-cart-menu-item .widget_shopping_cart .buttons .button:visited { font-size: 12px; height: auto; padding: 10px 20px; }

.lsx-wc-cart-menu-item .widget_shopping_cart .buttons .button, .lsx-wc-cart-menu-item .widget_shopping_cart .buttons .button:active, .lsx-wc-cart-menu-item .widget_shopping_cart .buttons .button:visited { background-color: #418AD0; box-shadow: 2px 2px 0 0 #27639e; color: #FFF; }

.lsx-wc-cart-menu-item .widget_shopping_cart .buttons .button:hover, .lsx-wc-cart-menu-item .widget_shopping_cart .buttons .button:hover:active, .lsx-wc-cart-menu-item .widget_shopping_cart .buttons .button:focus { background-color: #367DC0; color: #FFF; }

.lsx-wc-cart-menu-item .widget_shopping_cart .buttons .button:active { left: 2px; top: 2px; box-shadow: 0 0 0 0 #27639e; }

.lsx-wc-cart-menu-item .widget_shopping_cart .buttons .button:active { left: 0 !important; top: 0 !important; }

.woocommerce-MyAccount-downloads-file:after { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: '\f019'; margin-left: 10px; }

.product .lsx-sharing-content { margin-top: 2em; }

.woocommerce-page #main .products { padding-left: 0; }

.woocommerce-page #main form .form-row label.inline:not(:first-child) { margin-left: 15px; }

.woocommerce-page #main #woochimp_checkout_groups .label { display: none; }

.woocommerce-page #main #woochimp_checkout_groups br { display: none; }

.woocommerce-page #main #woochimp_checkout_groups label.checkbox { margin-top: 0; }

.woocommerce-page #main .quantity .qty { display: inline-block; width: 70px; }

.woocommerce-page #main #respond input#submit, .woocommerce-page #main #respond input#submit:active, .woocommerce-page #main #respond input#submit:visited, .woocommerce-page #main a.button:not(.quick-view-button), .woocommerce-page #main a.button:not(.quick-view-button):active, .woocommerce-page #main a.button:not(.quick-view-button):visited, .woocommerce-page #main button.button, .woocommerce-page #main button.button:active, .woocommerce-page #main button.button:visited, .woocommerce-page #main input.button, .woocommerce-page #main input.button:active, .woocommerce-page #main input.button:visited { border: 0 none; border-radius: 3px; display: inline-block; font-size: 14px; font-weight: 700; height: 48px; left: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; transition: all 100ms ease; }

.woocommerce-page #main #respond input#submit > .fa, .woocommerce-page #main a.button:not(.quick-view-button) > .fa, .woocommerce-page #main button.button > .fa, .woocommerce-page #main input.button > .fa { margin-left: 10px; }

.woocommerce-page #main #respond input#submit, .woocommerce-page #main #respond input#submit:active, .woocommerce-page #main #respond input#submit:visited, .woocommerce-page #main a.button:not(.quick-view-button), .woocommerce-page #main a.button:not(.quick-view-button):active, .woocommerce-page #main a.button:not(.quick-view-button):visited, .woocommerce-page #main button.button, .woocommerce-page #main button.button:active, .woocommerce-page #main button.button:visited, .woocommerce-page #main input.button, .woocommerce-page #main input.button:active, .woocommerce-page #main input.button:visited { background-color: #418AD0; box-shadow: 2px 2px 0 0 #27639e; color: #FFF; }

.woocommerce-page #main #respond input#submit:hover, .woocommerce-page #main #respond input#submit:hover:active, .woocommerce-page #main #respond input#submit:focus, .woocommerce-page #main a.button:not(.quick-view-button):hover, .woocommerce-page #main a.button:not(.quick-view-button):hover:active, .woocommerce-page #main a.button:not(.quick-view-button):focus, .woocommerce-page #main button.button:hover, .woocommerce-page #main button.button:hover:active, .woocommerce-page #main button.button:focus, .woocommerce-page #main input.button:hover, .woocommerce-page #main input.button:hover:active, .woocommerce-page #main input.button:focus { background-color: #367DC0; color: #FFF; }

.woocommerce-page #main #respond input#submit:active, .woocommerce-page #main a.button:not(.quick-view-button):active, .woocommerce-page #main button.button:active, .woocommerce-page #main input.button:active { left: 2px; top: 2px; box-shadow: 0 0 0 0 #27639e; }

.woocommerce-page #main #respond input#submit, .woocommerce-page #main #respond input#submit:active, .woocommerce-page #main #respond input#submit:visited, .woocommerce-page #main a.button:not(.quick-view-button), .woocommerce-page #main a.button:not(.quick-view-button):active, .woocommerce-page #main a.button:not(.quick-view-button):visited, .woocommerce-page #main button.button, .woocommerce-page #main button.button:active, .woocommerce-page #main button.button:visited, .woocommerce-page #main input.button, .woocommerce-page #main input.button:active, .woocommerce-page #main input.button:visited { height: 40px; line-height: 20px; padding: 10px 18px; }

@media (max-width: 767px) { .woocommerce-page #main .coupon input.button { float: left; margin-top: 7px; width: 100%; } }

.woocommerce-page #main .woocommerce-Address-title a { display: block; width: 1em; height: 1em; text-indent: -9999px; position: relative; padding: 10px; }

.woocommerce-page #main .woocommerce-Address-title a:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f044"; line-height: 1.618; position: absolute; top: 2px; left: 0; height: 100%; width: 100%; text-align: center; text-indent: 0; }

.woocommerce-message.lsx-woocommerce-message-wrap .button, .woocommerce-info.lsx-woocommerce-message-wrap .button, .woocommerce-error.lsx-woocommerce-message-wrap .button, .woocommerce-noreviews.lsx-woocommerce-message-wrap .button, .woocommerce_message.lsx-woocommerce-message-wrap .button, .woocommerce_info.lsx-woocommerce-message-wrap .button, .woocommerce_error.lsx-woocommerce-message-wrap .button, .woocommerce_noreviews.lsx-woocommerce-message-wrap .button, p.no-comments.lsx-woocommerce-message-wrap .button, .stock.lsx-woocommerce-message-wrap .button, .woocommerce-password-strength.lsx-woocommerce-message-wrap .button { float: none; margin-top: 15px; }

@media (min-width: 768px) { .woocommerce-message.lsx-woocommerce-message-wrap, .woocommerce-info.lsx-woocommerce-message-wrap, .woocommerce-error.lsx-woocommerce-message-wrap, .woocommerce-noreviews.lsx-woocommerce-message-wrap, .woocommerce_message.lsx-woocommerce-message-wrap, .woocommerce_info.lsx-woocommerce-message-wrap, .woocommerce_error.lsx-woocommerce-message-wrap, .woocommerce_noreviews.lsx-woocommerce-message-wrap, p.no-comments.lsx-woocommerce-message-wrap, .stock.lsx-woocommerce-message-wrap, .woocommerce-password-strength.lsx-woocommerce-message-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .woocommerce-message.lsx-woocommerce-message-wrap .lsx-woocommerce-message-text, .woocommerce-info.lsx-woocommerce-message-wrap .lsx-woocommerce-message-text, .woocommerce-error.lsx-woocommerce-message-wrap .lsx-woocommerce-message-text, .woocommerce-noreviews.lsx-woocommerce-message-wrap .lsx-woocommerce-message-text, .woocommerce_message.lsx-woocommerce-message-wrap .lsx-woocommerce-message-text, .woocommerce_info.lsx-woocommerce-message-wrap .lsx-woocommerce-message-text, .woocommerce_error.lsx-woocommerce-message-wrap .lsx-woocommerce-message-text, .woocommerce_noreviews.lsx-woocommerce-message-wrap .lsx-woocommerce-message-text, p.no-comments.lsx-woocommerce-message-wrap .lsx-woocommerce-message-text, .stock.lsx-woocommerce-message-wrap .lsx-woocommerce-message-text, .woocommerce-password-strength.lsx-woocommerce-message-wrap .lsx-woocommerce-message-text { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }
  .woocommerce-message.lsx-woocommerce-message-wrap .button, .woocommerce-info.lsx-woocommerce-message-wrap .button, .woocommerce-error.lsx-woocommerce-message-wrap .button, .woocommerce-noreviews.lsx-woocommerce-message-wrap .button, .woocommerce_message.lsx-woocommerce-message-wrap .button, .woocommerce_info.lsx-woocommerce-message-wrap .button, .woocommerce_error.lsx-woocommerce-message-wrap .button, .woocommerce_noreviews.lsx-woocommerce-message-wrap .button, p.no-comments.lsx-woocommerce-message-wrap .button, .stock.lsx-woocommerce-message-wrap .button, .woocommerce-password-strength.lsx-woocommerce-message-wrap .button { margin-left: 15px; margin-top: 0; } }

@media (min-width: 992px) { .woocommerce-message-added-to-cart { font-size: 17px; line-height: 50px; } }

.woocommerce-page #main .woocommerce-MyAccount-content legend { border-bottom: none; }

.woocommerce-page #main .woocommerce-MyAccount-content .woocommerce-form-row { margin-bottom: 1.41575em; }

@media (min-width: 768px) { .woocommerce-page #main .woocommerce-MyAccount-content { width: 76.4705882353%; }
  .woocommerce-page #main .woocommerce-MyAccount-content .form-row-first { float: left; margin-right: 7.6923076923%; width: 38.4615384615%; }
  .woocommerce-page #main .woocommerce-MyAccount-content .form-row-last { float: right; width: 53.8461538462%; } }

.woocommerce-page #main .woocommerce-MyAccount-navigation { padding: 0 15px; }

@media (min-width: 768px) { .woocommerce-page #main .woocommerce-MyAccount-navigation { margin-right: 5.8823529412%; width: 17.6470588235%; } }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul { margin-left: 0; padding: 0; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li { list-style: none; position: relative; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li a { display: block; padding: .875em 0; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li.is-active a { margin: 0 -15px; padding-left: 15px; padding-right: 15px; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li.is-active a:before { opacity: 1; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li a:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f0f6"; line-height: 1.618; margin-left: 0.5407911001em; width: 1.41575em; text-align: right; float: right; opacity: .25; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li a:hover:before { opacity: 1; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before { content: "\f0e4"; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before { content: "\f291"; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before { content: "\f1c6"; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before { content: "\f015"; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before { content: "\f09d"; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before { content: "\f007"; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before { content: "\f08b"; }

.woocommerce-page #main .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions a:before { content: "\f021"; }

.lsx-wc-cart-menu-item > a:after { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: '\f291'; float: right; font-size: 20px; margin-left: 2rem; }

#top-menu .lsx-wc-cart-menu-item > a:after { margin-left: 1.2rem; }

.lsx-wc-cart-menu-item.lsx-wc-cart-menu-item-simple > a:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: '\f07a'; float: right; font-size: 20px; margin-right: 0.5rem; }

#top-menu .lsx-wc-cart-menu-item.lsx-wc-cart-menu-item-simple > a:before { float: none; margin-right: 0; }

.lsx-wc-cart-menu-item.lsx-wc-cart-menu-item-simple > a:after { display: none; }

.lsx-wc-cart-menu-item .lsx-wc-cart-amount { margin-right: 2rem; }

#top-menu .lsx-wc-cart-menu-item .lsx-wc-cart-amount { margin-right: 0.5rem; }

.lsx-wc-cart-menu-item.lsx-wc-cart-menu-item-simple .lsx-wc-cart-amount { display: none; }

.lsx-wc-cart-menu-item .lsx-wc-cart-count, .lsx-wc-cart-menu-item .lsx-wc-cart-count-badge { font-size: .875em; font-weight: 300; opacity: .75; }

.lsx-wc-cart-menu-item.lsx-wc-cart-menu-item-simple .lsx-wc-cart-count { display: none; }

.lsx-wc-cart-menu-item:not(.lsx-wc-cart-menu-item-simple) .lsx-wc-cart-count-badge { display: none; }

@media (min-width: 1200px) { .lsx-wc-cart-menu-item.lsx-wc-cart-menu-item-right-aligned { margin-left: auto; } }

.lsx-wc-cart-menu-item .widget_shopping_cart { font-size: .875em; }

.lsx-wc-cart-menu-item .widget_shopping_cart .woocommerce-mini-cart__empty-message { margin: 1.41575em; }

.lsx-wc-cart-menu-item .widget_shopping_cart .product_list_widget li { padding: 1em 1.41575em; }

.lsx-wc-cart-menu-item .widget_shopping_cart .product_list_widget li:nth-of-type(1n+4) { display: none; }

.lsx-wc-cart-menu-item .widget_shopping_cart .product_list_widget li a { font-size: 1em !important; font-weight: normal !important; padding: 0 !important; }

.lsx-wc-cart-menu-item .widget_shopping_cart .product_list_widget li .remove { display: none; }

.lsx-wc-cart-menu-item .widget_shopping_cart .total { border-top: none; margin-bottom: 0; padding: 1em 1.41575em; text-align: center; }

.lsx-wc-cart-menu-item .widget_shopping_cart .buttons { margin-bottom: 0; padding: 0 1.41575em 1.41575em; text-align: center; }

.lsx-wc-cart-menu-item .widget_shopping_cart .buttons .button { margin-bottom: 1em; }

.lsx-wc-cart-menu-item .widget_shopping_cart .buttons .button:last-child { margin-bottom: 0; }

@media (min-width: 1200px) { ul.lsx-wc-cart-sub-menu { left: auto; right: 0; width: 235px; } }

.lsx-wc-cart-menu-item-simple ul.lsx-wc-cart-sub-menu { display: none !important; }

.lsx-woocommerce-slot, .lsx-woocommerce-review-slot { margin: 4rem auto 0; overflow: hidden; }

.lsx-woocommerce-slot .lsx-woocommerce-avatar > img, .lsx-woocommerce-review-slot .lsx-woocommerce-avatar > img { width: 100%; }

.lsx-woocommerce-slot .lsx-woocommerce-rating .star-rating, .lsx-woocommerce-review-slot .lsx-woocommerce-rating .star-rating { display: inline-block; float: none; }

.lsx-woocommerce-slot .lsx-woocommerce-content, .lsx-woocommerce-review-slot .lsx-woocommerce-content { margin-top: 2rem; }

.lsx-woocommerce-slot .lsx-woocommerce-content p, .lsx-woocommerce-review-slot .lsx-woocommerce-content p { margin-bottom: 0; }

.lsx-woocommerce-slot .lsx-woocommerce-content p + p, .lsx-woocommerce-review-slot .lsx-woocommerce-content p + p { margin-top: 1rem !important; }

.lsx-woocommerce-slot .lsx-woocommerce-content .moretag:after, .lsx-woocommerce-review-slot .lsx-woocommerce-content .moretag:after { color: inherit; content: '\f178'; display: inline-block; font-family: 'FontAwesome'; font-size: inherit; margin-left: 5px; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.lsx-woocommerce-slot { text-align: center; }

.lsx-woocommerce-slot .lsx-woocommerce-title { margin: 2.4rem 0 1rem; padding: 0 2rem; }

.lsx-woocommerce-slot .lsx-woocommerce-rating { padding: 0 2rem; }

.lsx-woocommerce-slot .lsx-woocommerce-price { font-weight: bold; padding: 0 2rem; }

.lsx-woocommerce-slot .lsx-woocommerce-content { padding: 0 2rem; }

.lsx-woocommerce-slot .lsx-woocommerce-content p + p { margin-top: 2.4rem !important; }

.lsx-woocommerce-slot .lsx-woocommerce-content .moretag { display: block; margin: 0 -2rem; padding: 1rem 0; text-align: center; transition: background 300ms ease; }

@media (min-width: 768px) { .lsx-woocommerce-review-slot .lsx-woocommerce-review-flex { display: -webkit-box; display: -ms-flexbox; display: flex; } }

#secondary .lsx-woocommerce-review-slot .lsx-woocommerce-review-flex > a { display: none; }

.lsx-woocommerce-review-slot .lsx-woocommerce-review-box { padding: 2rem; }

@media (min-width: 768px) { .lsx-woocommerce-review-slot .lsx-woocommerce-review-box { -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; } }

@media (min-width: 768px) { .lsx-woocommerce-review-slot .lsx-woocommerce-avatar { margin-right: 30px; width: 140px; } }

.lsx-woocommerce-review-slot .lsx-woocommerce-title { margin: 1rem 0 0; }

.lsx-woocommerce-review-slot .lsx-woocommerce-content { padding-top: 2rem; }

.lsx-woocommerce-slider { margin-top: -4rem; }

@media (min-width: 992px) { .lsx-woocommerce-slider { margin-left: auto; margin-right: auto; width: 100%; }
  .lsx-woocommerce-slider.slick-has-arrows { width: calc(100% - 8rem); } }

@media (min-width: 1280px) { .lsx-woocommerce-slider { margin-left: -15px; margin-right: -15px; width: calc(100% + 30px); }
  .lsx-woocommerce-slider.slick-has-arrows { width: calc(100% + 30px); } }

.wc-tab .lsx-woocommerce-slider, #secondary .lsx-woocommerce-slider { margin-left: -15px; margin-right: -15px; }

@media (min-width: 768px) { .wc-tab .lsx-woocommerce-slider, #secondary .lsx-woocommerce-slider { margin-left: auto; margin-right: auto; width: 100%; }
  .wc-tab .lsx-woocommerce-slider.slick-has-arrows, #secondary .lsx-woocommerce-slider.slick-has-arrows { width: calc(100% - 8rem); } }

.lsx-woocommerce-slider .lsx-woocommerce-slot.slick-slide, .lsx-woocommerce-slider .lsx-woocommerce-review-slot.slick-slide { margin-left: 15px; margin-right: 15px; }

.lsx-woocommerce-slider .slick-dots { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; height: auto; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; list-style: none; margin: 2rem 0 0; padding: 0; }

.wc-tab .lsx-woocommerce-slider .slick-dots { margin-bottom: 0; padding-left: 0 !important; }

.lsx-woocommerce-slider .slick-dots > li { line-height: 1; padding: 5px; }

@media (min-width: 992px) { .lsx-woocommerce-slider .slick-dots > li { padding: 0 7.5px; } }

.lsx-woocommerce-slider .slick-dots > li > button { background: transparent; border-style: solid; border-width: 1px; font: 0/0 a; height: 12px; transition: all 300ms ease-in-out; width: 4rem; }

@media (min-width: 992px) { .lsx-woocommerce-slider .slick-dots > li > button { height: 6px; } }

.lsx-woocommerce-slider .slick-arrow { background: transparent; border-radius: 50%; border-style: solid; border-width: 2px; font: 0/0 a; height: 4rem; margin-top: calc((2rem - 17px) / 2); opacity: 1; padding: 0; position: absolute; text-shadow: none; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); transition: border 300ms ease; width: 4rem; z-index: 3; }

.lsx-woocommerce-slider .slick-arrow:before { display: block; font-family: 'FontAwesome'; font-size: 3rem; line-height: 1; position: absolute; text-rendering: auto; top: 47%; -webkit-transform: translateY(-50%); transform: translateY(-50%); transition: color 300ms ease; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.lsx-woocommerce-slider .slick-arrow.slick-disabled { cursor: not-allowed; }

.lsx-woocommerce-slider .slick-arrow.slick-prev { left: -4rem; }

.lsx-woocommerce-slider .slick-arrow.slick-prev:before { content: '\f104'; left: 1.1rem; }

.lsx-woocommerce-slider .slick-arrow.slick-next { right: -4rem; }

.lsx-woocommerce-slider .slick-arrow.slick-next:before { content: '\f105'; left: 1.5rem; }

@media (max-width: 767px) { .lsx-wc-has-footer-bar { margin-bottom: 72px; } }

.lsx-wc-footer-bar { box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); bottom: 0; left: 0; position: fixed; right: 0; z-index: 10; }

@media (min-width: 768px) { .lsx-wc-footer-bar { display: none; } }

.lsx-wc-footer-bar-items { display: -webkit-box; display: -ms-flexbox; display: flex; list-style: none; margin-bottom: 0; padding-left: 0; }

.lsx-wc-footer-bar-item { border-right-width: 2px; border-right-style: solid; width: 25%; }

.lsx-wc-footer-bar-item:last-child { border-right: 0; }

.lsx-wc-footer-bar-link { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 10px; position: relative; text-align: center; }

.lsx-wc-footer-bar-link .fa { font-size: 24px; margin-bottom: 4px; }

.lsx-wc-footer-bar-form { display: none; padding: 10px; }

.lsx-wc-footer-bar-count { border-style: solid; border-width: 1px; border-radius: 50%; box-sizing: content-box; display: block; font-size: 11px; height: 20px; left: 50%; line-height: 20px; position: absolute; text-align: center; top: 5px; width: 20px; }

.lsx-wc-footer-bar-count:empty { display: none; }

.woocommerce-product-gallery__wrapper { max-width: none; }

.woocommerce div.product div.images .flex-control-thumbs { margin: 0 -5px; }

.woocommerce div.product div.images .flex-control-thumbs li { padding: 10px 5px 0; }

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper { overflow: hidden; }

.woocommerce span.onsale { font-size: 1em; height: 3.706325903em; left: -13px; line-height: 3.206325903em; text-transform: uppercase; top: -13px; width: 3.706325903em; }

.page-template-template-wc-thank-you .wc-bacs-bank-details-heading { display: none; }

.wapl-flash, .wapl-flash .product-label { font-size: 1em; }

.wapl-flash, .wapl-flash .product-label { width: 3.706325903em; height: 3.706325903em; line-height: 3.706325903em; border: 0; }

.wapl-label .product-label { padding: 0.6180469716em 0.875em; display: inline-block; margin: 0 auto; font-size: 0.875em; }

.wapl-label .product-label:empty { display: none; }

.wapl-label { margin-bottom: 0.875em; }

#wc-bookings-booking-form { border: 0; padding: 0; }

#wc-bookings-booking-form .wc-bookings-booking-cost { margin-left: 0; margin-right: 0; }

#wc-bookings-booking-form .wc-bookings-date-picker-date-fields input { margin-bottom: 0; }

#wc-bookings-booking-form .wc-bookings-date-picker-date-fields label { width: 20%; }

#wc-bookings-booking-form .ui-widget { font-family: inherit; }

#wc-bookings-booking-form .wc-bookings-date-picker legend { border-bottom: 0; font-size: 15px; margin-bottom: 5px; }

#wc-bookings-booking-form .wc-bookings-date-picker legend .label { color: initial; font-size: 100%; padding: 0; }

#wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker-header { border: 0; background-image: none; }

#wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker-header .ui-datepicker-title { font-weight: bold; }

#wc-bookings-booking-form .wc-bookings-date-picker .ui-widget-content { background: none; box-shadow: none; }

#wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker table { font-size: 1em; }

#wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker th { border: 0; font-weight: bold; }

#wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker td { border: 0; }

#wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker td.bookable a { text-shadow: none; }

#wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker td.ui-datepicker-today a, #wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker td.ui-datepicker-today span { box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.2); }

#wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker td.fully_booked a, #wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker td.fully_booked span { cursor: not-allowed; text-decoration: line-through; }

#wc-bookings-booking-form .block-picker { text-align: left; }

#wc-bookings-booking-form .block-picker li a { border: 0 !important; padding: 0.236em 0.5407911001em; display: inline-block; text-align: center; }

#wc-bookings-booking-form .block-picker li a:hover { text-decoration: none; border: 0; }

.wc-bookings-booking-form .form-field input[type="number"] { width: 70px; }

.product-type-booking form.cart { padding-left: 0; padding-right: 0; }

@media (min-width: 768px) { table.my_account_bookings { font-size: 0.875em; } }

.woocommerce div.product .bundled_product, .woocommerce div.product .bundle_price { display: none !important; }

.post-type-archive-product .pp_content, .tax-product_cat .pp_content, .single-product .pp_content { overflow: inherit !important; }

@media (min-width: 768px) { .post-type-archive-product .pp_content div.product div.images, .tax-product_cat .pp_content div.product div.images, .single-product .pp_content div.product div.images { margin-bottom: 2px; } }

.post-type-archive-product .pp_content a.button, .post-type-archive-product .pp_content a.button:active, .post-type-archive-product .pp_content a.button:visited, .post-type-archive-product .pp_content button.button, .post-type-archive-product .pp_content button.button:active, .post-type-archive-product .pp_content button.button:visited, .tax-product_cat .pp_content a.button, .tax-product_cat .pp_content a.button:active, .tax-product_cat .pp_content a.button:visited, .tax-product_cat .pp_content button.button, .tax-product_cat .pp_content button.button:active, .tax-product_cat .pp_content button.button:visited, .single-product .pp_content a.button, .single-product .pp_content a.button:active, .single-product .pp_content a.button:visited, .single-product .pp_content button.button, .single-product .pp_content button.button:active, .single-product .pp_content button.button:visited { border: 0 none; border-radius: 3px; display: inline-block; font-size: 14px; font-weight: 700; height: 48px; left: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; transition: all 100ms ease; }

.post-type-archive-product .pp_content a.button > .fa, .post-type-archive-product .pp_content button.button > .fa, .tax-product_cat .pp_content a.button > .fa, .tax-product_cat .pp_content button.button > .fa, .single-product .pp_content a.button > .fa, .single-product .pp_content button.button > .fa { margin-left: 10px; }

.post-type-archive-product .pp_content a.button, .post-type-archive-product .pp_content a.button:active, .post-type-archive-product .pp_content a.button:visited, .post-type-archive-product .pp_content button.button, .post-type-archive-product .pp_content button.button:active, .post-type-archive-product .pp_content button.button:visited, .tax-product_cat .pp_content a.button, .tax-product_cat .pp_content a.button:active, .tax-product_cat .pp_content a.button:visited, .tax-product_cat .pp_content button.button, .tax-product_cat .pp_content button.button:active, .tax-product_cat .pp_content button.button:visited, .single-product .pp_content a.button, .single-product .pp_content a.button:active, .single-product .pp_content a.button:visited, .single-product .pp_content button.button, .single-product .pp_content button.button:active, .single-product .pp_content button.button:visited { background-color: #418AD0; box-shadow: 2px 2px 0 0 #27639e; color: #FFF; }

.post-type-archive-product .pp_content a.button:hover, .post-type-archive-product .pp_content a.button:hover:active, .post-type-archive-product .pp_content a.button:focus, .post-type-archive-product .pp_content button.button:hover, .post-type-archive-product .pp_content button.button:hover:active, .post-type-archive-product .pp_content button.button:focus, .tax-product_cat .pp_content a.button:hover, .tax-product_cat .pp_content a.button:hover:active, .tax-product_cat .pp_content a.button:focus, .tax-product_cat .pp_content button.button:hover, .tax-product_cat .pp_content button.button:hover:active, .tax-product_cat .pp_content button.button:focus, .single-product .pp_content a.button:hover, .single-product .pp_content a.button:hover:active, .single-product .pp_content a.button:focus, .single-product .pp_content button.button:hover, .single-product .pp_content button.button:hover:active, .single-product .pp_content button.button:focus { background-color: #367DC0; color: #FFF; }

.post-type-archive-product .pp_content a.button:active, .post-type-archive-product .pp_content button.button:active, .tax-product_cat .pp_content a.button:active, .tax-product_cat .pp_content button.button:active, .single-product .pp_content a.button:active, .single-product .pp_content button.button:active { left: 2px; top: 2px; box-shadow: 0 0 0 0 #27639e; }

.post-type-archive-product .pp_content a.button, .post-type-archive-product .pp_content a.button:active, .post-type-archive-product .pp_content a.button:visited, .post-type-archive-product .pp_content button.button, .post-type-archive-product .pp_content button.button:active, .post-type-archive-product .pp_content button.button:visited, .tax-product_cat .pp_content a.button, .tax-product_cat .pp_content a.button:active, .tax-product_cat .pp_content a.button:visited, .tax-product_cat .pp_content button.button, .tax-product_cat .pp_content button.button:active, .tax-product_cat .pp_content button.button:visited, .single-product .pp_content a.button, .single-product .pp_content a.button:active, .single-product .pp_content a.button:visited, .single-product .pp_content button.button, .single-product .pp_content button.button:active, .single-product .pp_content button.button:visited { height: 40px; line-height: 20px; padding: 10px 18px; }

a.quick-view-button { background-color: transparent !important; display: block !important; font-weight: normal !important; line-height: 1.2 !important; padding: 0 !important; }

a.quick-view-button:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: '\f06e'; margin-right: 5px; }

a.quick-view-button span { display: none !important; }

div.quick-view div.quick-view-image a.button { line-height: 14px !important; }

div.quick-view div.quick-view-image a.button, div.quick-view div.quick-view-image a.button:active, div.quick-view div.quick-view-image a.button:visited { border: 0 none; border-radius: 3px; display: inline-block; font-size: 14px; font-weight: 700; height: 48px; left: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; transition: all 100ms ease; }

div.quick-view div.quick-view-image a.button > .fa { margin-left: 10px; }

div.quick-view div.quick-view-image a.button, div.quick-view div.quick-view-image a.button:active, div.quick-view div.quick-view-image a.button:visited { background-color: #418AD0; box-shadow: 2px 2px 0 0 #27639e; color: #FFF; }

div.quick-view div.quick-view-image a.button:hover, div.quick-view div.quick-view-image a.button:hover:active, div.quick-view div.quick-view-image a.button:focus { background-color: #367DC0; color: #FFF; }

div.quick-view div.quick-view-image a.button:active { left: 2px; top: 2px; box-shadow: 0 0 0 0 #27639e; }

div.quick-view div.quick-view-image a.button, div.quick-view div.quick-view-image a.button:active, div.quick-view div.quick-view-image a.button:visited { height: 40px; line-height: 20px; padding: 10px 18px; }

div.quick-view div.quick-view-content { overflow: visible !important; }

div.pp_woocommerce .pp_content_container { border-radius: 0 !important; border-style: solid; border-width: 6px; padding: 20px 0 !important; }

div.pp_woocommerce .close { border-radius: 50%; border-style: solid; border-width: 2px; height: 32px; opacity: 1; position: absolute; right: -14px; top: -14px; width: 32px; z-index: 2; }

div.pp_woocommerce .close:hover { opacity: 1; }

.wc-product-retailers { width: auto; }

.wc-product-retailers-wrap { clear: both; padding: 1em 0; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) #subscribe_to_replies { position: relative; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) .product-rating .product-rating-summary, .woocommerce-page #reviews:not(.woocommerce-Reviews) .product-rating .product-rating-details { display: block; width: 100%; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) .product-rating .product-rating-summary { text-align: left; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) .product-rating .product-rating-details table td { padding: 0.202em 0.5407911001em; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) .product-rating .product-rating-details table td.rating-count a { text-decoration: none; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) .form-contribution { border: none; padding: 0; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) .form-contribution #review_rating_field fieldset { float: left; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) .form-contribution #review_rating_field fieldset label { display: inline-block; float: right; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) .form-contribution #review_rating_field fieldset label.checkbox:before { font-size: 0.875em; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) .form-contribution #review_rating_field .star-label { float: none; line-height: 42px; margin-left: 0.6180469716em; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) .form-contribution .form-row { clear: both; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) .contribution-karma { margin-left: 0; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) #comments { margin-top: 4.25rem; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) #comments ol.commentlist { padding-left: 0; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) #comments ol.commentlist li { padding-top: 0; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) #comments ol.commentlist li img.avatar { width: 2.617924em; height: auto; margin: 0; float: right !important; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) #comments ol.commentlist li .description { padding-bottom: 0; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) #comments ol.commentlist li .comment-text { border-radius: 0; margin-left: 0; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) #comments ol.commentlist li .comment-text img, .woocommerce-page #reviews:not(.woocommerce-Reviews) #comments ol.commentlist li .comment-text iframe { margin-bottom: 1.618em; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) #comments ol.commentlist li h3.contribution-title { margin: 0; font-size: 1em; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) #comments ol.commentlist li .contribution-actions a.done { opacity: 0.5; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) #comments ol.commentlist li ul.children li { margin-bottom: 1.618em; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) #comments ul.children + .form-contribution_comment { border-top: 0; padding-top: 0; }

.woocommerce-page #reviews:not(.woocommerce-Reviews) .contribution-flag-form { border-radius: 0; padding: 1.618em; margin-bottom: 1.618em; }

@media (max-width: 767px) { .woocommerce-page #reviews:not(.woocommerce-Reviews) .contributions-filter { float: none; } }

.woocommerce-page #reviews:not(.woocommerce-Reviews) .contributions-filter p#comments_filter_field select { margin-left: 0; }

@media (max-width: 767px) { .woocommerce-page #reviews:not(.woocommerce-Reviews) .contributions-filter p#comments_filter_field select { width: 100%; } }

.woocommerce-page .form-photo #photo_attachment_file { color: inherit; margin: 1em 0; }

.woocommerce-page .contribution-type-selector > a { display: inline-block; margin-right: 1em; padding: 0.5407911001em 0; }

.woocommerce-page .star-rating-selector fieldset { float: none; clear: both; }

.woocommerce-page .star-rating-selector > label:first-child { display: block !important; }

.woocommerce-page .star-rating-selector:not(:checked) label.checkbox { float: none; }

.woocommerce-page #wc-product-reviews-pro-modal #customer_login .col-1, .woocommerce-page #wc-product-reviews-pro-modal #customer_login .col-2 { width: 100%; }

#tiptip_content, .chart-tooltip { font-size: 0.875em; padding: 0.6180469716em 1em; }

#tiptip_holder.tip_bottom #tiptip_arrow_inner { margin-top: -6px; }

.woocommerce-page #shipping_addresses { padding-top: ms(3); }

.woocommerce-page .ship_address, .woocommerce-page .no_shipping_address { background-color: rgba(0, 0, 0, 0.025); border: 0; border-radius: 0; font-size: 0.875em; float: none; line-height: inherit; margin: 0.809em 0; padding: 1em; width: auto; }

.woocommerce-page .ship_address dl, .woocommerce-page .no_shipping_address dl { margin-top: 0; }

.woocommerce-page .ship_address dl dd, .woocommerce-page .no_shipping_address dl dd { margin-bottom: 1em; }

.woocommerce-page .ship_address address, .woocommerce-page .no_shipping_address address { margin: 0; }

.woocommerce-page .ship_address .modify-address-button, .woocommerce-page .no_shipping_address .modify-address-button { margin-top: 2.4rem; }

.woocommerce-page .ship_address .modify-address-button, .woocommerce-page .ship_address .modify-address-button:active, .woocommerce-page .ship_address .modify-address-button:visited, .woocommerce-page .no_shipping_address .modify-address-button, .woocommerce-page .no_shipping_address .modify-address-button:active, .woocommerce-page .no_shipping_address .modify-address-button:visited { border: 0 none; border-radius: 3px; display: inline-block; font-size: 14px; font-weight: 700; height: 48px; left: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; transition: all 100ms ease; }

.woocommerce-page .ship_address .modify-address-button > .fa, .woocommerce-page .no_shipping_address .modify-address-button > .fa { margin-left: 10px; }

.woocommerce-page .ship_address .modify-address-button, .woocommerce-page .ship_address .modify-address-button:active, .woocommerce-page .ship_address .modify-address-button:visited, .woocommerce-page .no_shipping_address .modify-address-button, .woocommerce-page .no_shipping_address .modify-address-button:active, .woocommerce-page .no_shipping_address .modify-address-button:visited { background-color: #418AD0; box-shadow: 2px 2px 0 0 #27639e; color: #FFF; }

.woocommerce-page .ship_address .modify-address-button:hover, .woocommerce-page .ship_address .modify-address-button:hover:active, .woocommerce-page .ship_address .modify-address-button:focus, .woocommerce-page .no_shipping_address .modify-address-button:hover, .woocommerce-page .no_shipping_address .modify-address-button:hover:active, .woocommerce-page .no_shipping_address .modify-address-button:focus { background-color: #367DC0; color: #FFF; }

.woocommerce-page .ship_address .modify-address-button:active, .woocommerce-page .no_shipping_address .modify-address-button:active { left: 2px; top: 2px; box-shadow: 0 0 0 0 #27639e; }

.woocommerce-page .ship_address .modify-address-button, .woocommerce-page .ship_address .modify-address-button:active, .woocommerce-page .ship_address .modify-address-button:visited, .woocommerce-page .no_shipping_address .modify-address-button, .woocommerce-page .no_shipping_address .modify-address-button:active, .woocommerce-page .no_shipping_address .modify-address-button:visited { height: 40px; line-height: 20px; padding: 10px 18px; }

.woocommerce-page .ship_address select.shipping_methods.shipping_method + p, .woocommerce-page .no_shipping_address select.shipping_methods.shipping_method + p { margin-bottom: 0; }

.woocommerce-page .address-block { float: left; margin: 0 0 1.618em; margin-right: 5.8823529412%; width: 47.0588235294%; }

.woocommerce-page .address-block:nth-child(2), .woocommerce-page .address-block:nth-child(4), .woocommerce-page .address-block:nth-child(6) { margin-right: 0 !important; }

.woocommerce-page .address-block .buttons { text-align: inherit; position: static; }

.woocommerce-page .address-block .buttons .button { width: auto; }

#address_form a.h2-link { margin-bottom: 24px; }

#address_form a.h2-link, #address_form a.h2-link:active, #address_form a.h2-link:visited { border: 0 none; border-radius: 3px; display: inline-block; font-size: 14px; font-weight: 700; height: 48px; left: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; transition: all 100ms ease; }

#address_form a.h2-link > .fa { margin-left: 10px; }

#address_form a.h2-link, #address_form a.h2-link:active, #address_form a.h2-link:visited { background-color: #418AD0; box-shadow: 2px 2px 0 0 #27639e; color: #FFF; }

#address_form a.h2-link:hover, #address_form a.h2-link:hover:active, #address_form a.h2-link:focus { background-color: #367DC0; color: #FFF; }

#address_form a.h2-link:active { left: 2px; top: 2px; box-shadow: 0 0 0 0 #27639e; }

#address_form a.h2-link, #address_form a.h2-link:active, #address_form a.h2-link:visited { height: 40px; line-height: 20px; padding: 10px 18px; }

#primary.col-sm-8 #address_form select.address-select, #primary.col-md-8 #address_form select.address-select { max-width: 300px; }

#primary.col-sm-12 #address_form select.address-select, #primary.col-md-12 #address_form select.address-select { max-width: 500px; }

textarea.ms_shipping_note { height: 75px; }

select#ms_addresses, select.shipping_methods.shipping_method { font-weight: normal !important; }

.woocommerce .coupon-container, .woocommerce-page .coupon-container { box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2); margin: 0; }

.woocommerce .coupon-container.medium, .woocommerce-page .coupon-container.medium { line-height: inherit; padding: 0.6180469716em; }

.woocommerce .generated_coupon_summary, .woocommerce-page .generated_coupon_summary { margin: 0; }

.woocommerce .coupon-content.small, .woocommerce-page .coupon-content.small { padding: 0.6180469716em 1.41575em; }

.woocommerce .coupon-content .coupon-expire, .woocommerce .coupon-content .discount-info, .woocommerce-page .coupon-content .coupon-expire, .woocommerce-page .coupon-content .discount-info { font-family: inherit; }

.woocommerce #coupons_list, .woocommerce-page #coupons_list { border-radius: 3px; margin-bottom: 2.4rem; padding: 1.2rem; }

.woocommerce #coupons_list h3, .woocommerce-page #coupons_list h3 { margin-bottom: 1.2rem; }

.wc-social-login:before { content: 'Social Login and Registration'; display: block; font-size: 30px; line-height: 1.2; margin-bottom: 1.2rem; margin-top: 4.25rem; }

.button-social-login, a.button-social-login, input.button-social-login, button.button-social-login, .widget-area .widget a.button-social-login { font-size: 85% !important; font-weight: normal !important; }

.first-payment-date { font-weight: bold; }

.first-payment-date small { font-size: 100%; }

.woocommerce div.product form.cart .variations td.label { padding: 10px 10px 10px 0; }

.woocommerce div.product form.cart .variations td.label label { font-weight: bold; }

.woocommerce div.product form.cart .variations td.value { padding: 10px; }

.woocommerce div.product form.cart .variations td.value .swatch-label:empty { display: none; }

#wl-wrapper.wl-button-wrap { padding: 1em 0 0 0; }

#wl-wrapper.wl-button-wrap:after { visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

#wl-wrapper .wl-already-in { border-radius: 3px; margin: 0 0 1em 0; padding: 1em; }

#wl-wrapper .wl-already-in ul { list-style: none; margin-bottom: 0; margin-left: 0; padding-left: 0; }

#wl-wrapper a.button.wl-add-but { background-color: transparent !important; box-shadow: none !important; font-weight: normal !important; font-size: 20px !important; height: auto !important; padding: 0 !important; text-transform: inherit !important; transition: all 100ms ease !important; }

#wl-wrapper a.button.wl-add-but:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; border: 1px solid #333; border-radius: 50%; content: '\f08a'; font-size: 80%; margin-right: 5px; padding: 6px; transition: all 100ms ease; }

#wl-wrapper input[type="radio"], #wl-wrapper input[type="checkbox"] { margin: 0 10px 0 0; }

#wl-wrapper .wl-row:after { visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

#wl-wrapper .wl-table td { vertical-align: middle; }

#wl-wrapper .wl-actions-table tr td { padding: 0 5px; }

#wl-wrapper .wl-actions-table tr:first-child td { padding-left: 0; }

#wl-wrapper .wl-actions-table tr:last-child td { padding-right: 0; }

#wl-wrapper table.shop_table thead tr:first-child > *:first-child { border-radius: 5px 0 0 0; }

#wl-wrapper table.shop_table thead tr:first-child > *:last-child { border-radius: 0 5px 0 0; }

#wl-wrapper table.shop_table tbody:last-child tr:last-child > *:first-child { border-radius: 0 0 0 5px; }

#wl-wrapper table.shop_table tbody:last-child tr:last-child > *:last-child { border-radius: 0 0 5px 0; }

#wl-wrapper .wl-search-form input.find-input { float: left; width: 40%; }

#wl-wrapper img { width: 50px; }

.wl-tab-wrap .wl-tabs { border-bottom: 0 !important; }

.wl-tab-wrap .wl-tabs > li { margin-bottom: 0 !important; }

.wl-tab-wrap .wl-tabs > li > a { border: 0 !important; border-radius: 0 !important; line-height: 1.6 !important; margin: 0 !important; }

.wl-tab-wrap .panel { border: none; border-radius: 0; box-shadow: none; padding: 2em; }

.wl-tab-wrap .panel > *:last-child { margin-bottom: 0; }

.wl-tab-wrap .panel .wl-form { overflow-x: scroll; }

a.button.wl-add-to-single, a.button.wl-add-to-single:active, a.button.wl-add-to-single:visited { border: 0 none; border-radius: 3px; display: inline-block; font-size: 14px; font-weight: 700; height: 48px; left: 0; letter-spacing: 0.6px; line-height: 1.25; padding: 15px 40px; position: relative; text-transform: uppercase; top: 0; transition: all 100ms ease; }

a.button.wl-add-to-single > .fa { margin-left: 10px; }

a.button.wl-add-to-single, a.button.wl-add-to-single:active, a.button.wl-add-to-single:visited { background-color: #418AD0; box-shadow: 2px 2px 0 0 #27639e; color: #FFF; }

a.button.wl-add-to-single:hover, a.button.wl-add-to-single:hover:active, a.button.wl-add-to-single:focus { background-color: #367DC0; color: #FFF; }

a.button.wl-add-to-single:active { left: 2px; top: 2px; box-shadow: 0 0 0 0 #27639e; }

.wl-list-pop { max-width: 300px; }

.wl-list-pop dd { margin: 0 0 2px 0; }

/*# sourceMappingURL=maps/woocommerce.css.map */
